[flake8]
exclude =
    .idea,
    .github,
    .eggs,
    build,
    docs,
    venv,
    .git,
    __pycache__,
    *egg-info,
    .mypy_cache,
    .pytest_cache,
    tests,
    test.py,
ignore = E501 W503 W504
per-file-ignores =
    src/psnawp_api/__init__.py:F401
max-line-length = 160
