[tool.poetry]
name = "PSNAWP"
version = "2.0.0"
description = "Python API Wrapper for PlayStation Network API"
authors = ["isFakeAccount <trevorphillips@gmx.us>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/isFakeAccount/psnawp"
repository = "https://github.com/isFakeAccount/psnawp"
documentation = "https://psnawp.readthedocs.io/en/latest/"
keywords = ["PSN", "PlayStation"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
packages = [{ include = "psnawp_api", from = "src" }]

[tool.poetry.dependencies]
python = "^3.9"
attrs = "23.1.0"
requests = "^2.31.0"
typing-extensions = "^4.11.0"

[tool.poetry.group.typing.dependencies]
mypy = "^1.4.0"
types-requests = "^2.31.0.2"

[tool.poetry.group.linting.dependencies]
black = "^24.4.2"
ruff = "^0.4.4"
pre-commit = "^3.7.1"

[tool.poetry.group.docs.dependencies]
sphinx = "^7.0"
furo = "^2024.04.27"
myst-parser = {extras = ["linkify"], version = "^3.0.1"}

[tool.poetry.group.tests.dependencies]
pytest = "^8.2.0"
python-dotenv = "^1.0.0"
vcrpy = "^6.0.1"
pytest-cov = "^5.0.0"
pytest-vcr = "^1.0.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = ["--cov=psnawp_api"]
testpaths = ["tests"]

[tool.mypy]
strict = true
check_untyped_defs = true
disallow_any_generics = true
no_implicit_optional = true
show_error_codes = true
strict_equality = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
no_implicit_reexport = true

[tool.black]
line-length = 160

[tool.ruff]
line-length = 160

[tool.ruff.lint]
select = ["E", "F", "I001", "I002", "TID252"]
