alabaster==0.7.12
attrs==22.1.0
Babel==2.10.3
certifi==2022.9.14
cfgv==3.3.1
chardet==5.0.0
charset-normalizer==2.1.1
coverage==6.4.4
distlib==0.3.6
docutils==0.17.1
filelock==3.8.0
flake8==5.0.4
identify==2.5.5
idna==3.4
imagesize==1.4.1
iniconfig==1.1.1
Jinja2==3.1.2
MarkupSafe==2.1.1
mccabe==0.7.0
multidict==6.0.2
mypy==0.971
mypy-extensions==0.4.3
nodeenv==1.7.0
packaging==21.3
platformdirs==2.5.2
pluggy==1.0.0
pre-commit==2.20.0
# -e git+https://github.com/isFakeAccount/psnawp@32750ffc37e0dd393433fec4b664cfb2e81dc68c#egg=PSNAWP
py==1.11.0
pycodestyle==2.9.1
pyflakes==2.5.0
Pygments==2.13.0
pyparsing==3.0.9
pytest==7.1.3
pytest-cov==3.0.0
pytest-vcr==1.0.2
python-dotenv==0.21.0
pytz==2022.2.1
PyYAML==6.0
requests==2.28.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.1.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tomli==2.0.1
types-requests==2.28.10
types-urllib3==1.26.24
typing_extensions==4.3.0
urllib3==1.26.12
vcrpy==4.2.1
virtualenv==20.16.5
wrapt==1.14.1
yarl==1.8.1
