attrs
build
certifi
chardet
flake8
idna
mypy
myst-parser
pip-tools
pre-commit
pytest
pytest-cov
pytest-vcr
python-dotenv
requests
sphinx
sphinx-rtd-theme
types-attrs
types-requests
twine
urllib3
vcrpy
