interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Country:
      - US
      X-Requested-With:
      - com.scee.psxandroid
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?PlatformPrivacyWs1=minimal&access_type=offline&client_id=09515159-7237-4370-9b40-3806e67c0891&device_base_font_size=10&device_profile=mobile&elements_visibility=no_aclink&enable_scheme_error_code=true&no_captcha=true&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&response_type=code&scope=psn%3Amobile.v2.core+psn%3Aclientapp&service_entity=urn%3Aservice-entity%3Apsn&service_logo=ps&smcid=psapp%3Asignin&support_scheme=sneiprls&turnOnTrustedBrowser=true&ui=pr
  response:
    body:
      string: ''
    headers:
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v3.GN1fqA&cid=00000000-0000-0000-0000-b025aa3b2674
      X-CorrelationId:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Request-Id:
      - 68542be0ec8c4ca5496e8df4f237e7c5
      X-RequestId:
      - 68542be0ec8c4ca5496e8df4f237e7c5
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: cid=00000000-0000-0000-0000-b025aa3b2674&code=v3.GN1fqA&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&scope=psn%3Amobile.v2.core+psn%3Aclientapp&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Country:
      - US
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v2.core psn:clientapp", "id_token": "REDACTED",
        "refresh_token": "REDACTED", "refresh_token_expires_in": 863999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Request-Id:
      - a7c362cf36e79694decc46561657ebff
      X-RequestId:
      - a7c362cf36e79694decc46561657ebff
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://dms.api.playstation.com/api/v1/devices/accounts/me
  response:
    body:
      string: '{"accountId": "2721516955383551246"}'
    headers:
      Content-Type:
      - application/json
      X-CorrelationId:
      - 11ce06ba-ed5c-4e65-bda1-b7e0a430724a
      X-Psn-Correlation-Id:
      - 11ce06ba-ed5c-4e65-bda1-b7e0a430724a
      X-Psn-Request-Id:
      - 11ce06ba-ed5c-4e65-bda1-b7e0a430724a
      X-RequestId:
      - 11ce06ba-ed5c-4e65-bda1-b7e0a430724a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/2721516955383551246/profiles
  response:
    body:
      string: '{"onlineId": "VaultTec-Co", "personalDetail": {"firstName": "VaultTec",
        "lastName": "BlacklistBot", "profilePictures": [{"size": "s", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=50&h=50&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F2721516955383551246%2F1616355099647.png&sign=7e3003da6a783ce92219a4e7e3d1dba5f4e4fb51"},
        {"size": "m", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=160&h=160&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F2721516955383551246%2F1616355099647.png&sign=7e3003da6a783ce92219a4e7e3d1dba5f4e4fb51"},
        {"size": "l", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=240&h=240&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F2721516955383551246%2F1616355099647.png&sign=7e3003da6a783ce92219a4e7e3d1dba5f4e4fb51"},
        {"size": "xl", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=440&h=440&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F2721516955383551246%2F1616355099647.png&sign=7e3003da6a783ce92219a4e7e3d1dba5f4e4fb51"}]},
        "aboutMe": "r/Fallout76Marketplace Moderator", "avatars": [{"size": "s", "url":
        "http://static-resource.np.community.playstation.net/avatar_s/default/DefaultAvatar_s.png"},
        {"size": "xl", "url": "http://static-resource.np.community.playstation.net/avatar_xl/default/Defaultavatar_xl.png"},
        {"size": "l", "url": "http://static-resource.np.community.playstation.net/avatar/default/DefaultAvatar.png"},
        {"size": "m", "url": "http://static-resource.np.community.playstation.net/avatar_m/default/DefaultAvatar_m.png"}],
        "languages": ["en-US"], "isPlus": false, "isOfficiallyVerified": false, "isMe":
        true}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0224711017097766549
    status:
      code: 200
      message: OK
[...]
