interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/VaultTec_Trading/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "VaultTec_Trading", "accountId": "8520698476712646544"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/VaultTec_Trading/profile2?fields=npId%2ConlineId%2CaccountId%2CavatarUrls%2Cplus%2CaboutMe%2ClanguagesUsed%2CtrophySummary%28%40default%2Clevel%2Cprogress%2CearnedTrophies%29%2CisOfficiallyVerified%2CpersonalDetail%28%40default%2CprofilePictureUrls%29%2CpersonalDetailSharing%2CpersonalDetailSharingRequestMessageFlag%2CprimaryOnlineStatus%2Cpresences%28%40default%2C%40titleInfo%2Cplatform%2ClastOnlineDate%2ChasBroadcastData%29%2CrequestMessageFlag%2Cblocking%2CfriendRelation%2Cfollowing%2CconsoleAvailability
  response:
    body:
      string: '{"profile": {"onlineId": "VaultTec_Trading", "accountId": "8520698476712646544",
        "npId": "VmF1bHRUZWNfVHJhZGluZ0BiNi51cw==", "avatarUrls": [{"size": "l", "avatarUrl":
        "http://static-resource.np.community.playstation.net/avatar/default/DefaultAvatar.png"}],
        "plus": 0, "aboutMe": "r/Fallout76Marketplace Moderator", "languagesUsed":
        ["en"], "trophySummary": {"level": 1, "progress": 0, "earnedTrophies": {"platinum":
        0, "gold": 0, "silver": 0, "bronze": 0}}, "isOfficiallyVerified": false, "personalDetailSharing":
        "no", "personalDetailSharingRequestMessageFlag": false, "friendRelation":
        "no", "requestMessageFlag": false, "blocking": false, "following": false}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
