interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/npCommunicationIds/SSSA01325_00/trophyGroups/all/trophies?limit=200&npServiceName=trophy2&offset=0
  response:
    body:
      string: '{"error": {"referenceId": "cdeb8b67-41e8-11f1-8865-a5f98324939d", "code":
        2240525, "message": "Resource not found"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
