interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/me/friends?limit=1000
  response:
    body:
      string: '{"friends": ["5361973517281706660", "940512162723934331", "4273405838384737823"],
        "totalItemCount": 3}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0054916724742260739
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/5361973517281706660/profiles
  response:
    body:
      string: '{"onlineId": "Rodders1013", "aboutMe": "F83C", "avatars": [{"size":
        "s", "url": "http://static-resource.np.community.playstation.net/avatar_s/SCEI/I0057_s.png"},
        {"size": "xl", "url": "http://static-resource.np.community.playstation.net/avatar_xl/SCEI/I0057_XL.png"},
        {"size": "l", "url": "http://static-resource.np.community.playstation.net/avatar/SCEI/I0057.png"},
        {"size": "m", "url": "http://static-resource.np.community.playstation.net/avatar_m/SCEI/I0057_m.png"}],
        "languages": ["en-US"], "isPlus": true, "isOfficiallyVerified": false, "isMe":
        false}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0217802876001519111
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/4273405838384737823/profiles
  response:
    body:
      string: '{"onlineId": "DaUglyDucklin", "aboutMe": "Go get bent. Ya''ll are planks.
        Casablumkin. G.G. Switching to PC, Join me friends, No one left behind.",
        "avatars": [{"size": "s", "url": "http://psn-rsc.prod.dl.playstation.net/psn-rsc/avatar/UP1291/CUSA04676_00-AV00000000000002_39FEDE608B9AC60C1235_s.png"},
        {"size": "xl", "url": "http://psn-rsc.prod.dl.playstation.net/psn-rsc/avatar/UP1291/CUSA04676_00-AV00000000000002_39FEDE608B9AC60C1235_xl.png"},
        {"size": "l", "url": "http://psn-rsc.prod.dl.playstation.net/psn-rsc/avatar/UP1291/CUSA04676_00-AV00000000000002_39FEDE608B9AC60C1235_l.png"},
        {"size": "m", "url": "http://psn-rsc.prod.dl.playstation.net/psn-rsc/avatar/UP1291/CUSA04676_00-AV00000000000002_39FEDE608B9AC60C1235_m.png"}],
        "languages": ["en-US"], "isPlus": true, "isOfficiallyVerified": false, "isMe":
        false}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0969681104045263564
    status:
      code: 200
      message: OK
version: 1
