interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Country:
      - US
      X-Requested-With:
      - com.scee.psxandroid
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&cid=00000000-0000-0000-0000-b025aa3b2674&client_id=09515159-7237-4370-9b40-3806e67c0891&device_base_font_size=10&device_profile=mobile&elements_visibility=no_aclink&enable_scheme_error_code=true&no_captcha=true&PlatformPrivacyWs1=minimal&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&response_type=code&scope=psn%3Amobile.v2.core+psn%3Aclientapp&service_entity=urn%3Aservice-entity%3Apsn&service_logo=ps&smcid=psapp%3Asignin&support_scheme=sneiprls&turnOnTrustedBrowser=true&ui=pr
  response:
    body:
      string: ''
    headers:
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v3.Cp5A2o&cid=00000000-0000-0000-0000-b025aa3b2674
      X-CorrelationId:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Request-Id:
      - 10caef2b8768d0e90cffa09620697eef
      X-RequestId:
      - 10caef2b8768d0e90cffa09620697eef
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: cid=00000000-0000-0000-0000-b025aa3b2674&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&scope=psn%3Amobile.v2.core+psn%3Aclientapp&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Country:
      - US
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v2.core psn:clientapp", "id_token": "REDACTED",
        "refresh_token": "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Request-Id:
      - ffa1f6d55c90f33ae44e10f254c1d2e4
      X-RequestId:
      - ffa1f6d55c90f33ae44e10f254c1d2e4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/me/titles/trophyTitles?npTitleIds=CUSA12057_00
  response:
    body:
      string: '{"titles": [{"npTitleId": "CUSA12057_00", "trophyTitles": []}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
