interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups?includeFields=members&limit=1&offset=0
  response:
    body:
      string: '{"groups": [{"groupId": "db3b170affdf134f078bc5606216d2a81c2a916e-499",
        "groupType": 1, "members": [{"accountId": "2721516955383551246", "onlineId":
        "VaultTec-Co"}, {"accountId": "2066273503397112667", "onlineId": "isFakeAccount"},
        {"accountId": "8859462586603699392", "onlineId": "test"}]}], "previousOffset":
        0, "nextOffset": 1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: DELETE
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/db3b170affdf134f078bc5606216d2a81c2a916e-499/members/me
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
