interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamelist/v2/users/me/titles?limit=200&offset=0
  response:
    body:
      string: '{"titles": [], "nextOffset": null, "previousOffset": 0, "totalItemCount":
        0}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Correlation-Id:
      - ed1aab39-83ea-1031-b9cc-77879f9392b9
      X-Psn-Request-Id:
      - ed1aab39-83ea-1031-b9cd-77879f9392b9
    status:
      code: 200
      message: OK
version: 1
