interactions:
- request:
    body: '{"invitees": [{"accountId": "2066273503397112667"}, {"accountId": "5007681186655854753"}]}'
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: POST
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups
  response:
    body:
      string: '{"groupId": "44f4d118fec0bb8e61ad4f985431d2097b72a239-177", "mainThread":
        {"threadId": "44f4d118fec0bb8e61ad4f985431d2097b72a239-177"}, "hasAllAccountInvited":
        false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"groupName": {"value": "Testing API"}}'
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: PATCH
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/44f4d118fec0bb8e61ad4f985431d2097b72a239-177
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
