interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/6515971742264256071/titles/trophyTitles?npTitleIds=PPSA01325_00%2C
  response:
    body:
      string: '{"titles": [{"npTitleId": "PPSA01325_00", "trophyTitles": [{"npServiceName":
        "trophy2", "npCommunicationId": "NPWR20188_00", "trophyTitleName": "ASTRO\u2019s
        PLAYROOM", "trophyTitleIconUrl": "https://psnobj.prod.dl.playstation.net/psnobj/NPWR20188_00/9f84e2fc-0cd2-40f1-bfdb-6774fe3a69f6.png",
        "hasTrophyGroups": true, "trophyGroupCount": 3, "rarestTrophies": [{"trophyId":
        44, "trophyHidden": true, "trophyType": "gold", "trophyName": "Run Astro Run!",
        "trophyDetail": "Got a total Speed Run time of 7 minutes or under.", "trophyIconUrl":
        "https://psnobj.prod.dl.playstation.net/psnobj/NPWR20188_00/77cba17d-c338-41c6-a3e5-4a6687d8730d.png",
        "trophyRare": 0, "trophyEarnedRate": "3.5", "earned": true, "earnedDateTime":
        "2020-12-20T08:06:44Z"}], "progress": 93, "earnedTrophies": {"bronze": 27,
        "silver": 13, "gold": 5, "platinum": 1}, "definedTrophies": {"bronze": 31,
        "silver": 14, "gold": 5, "platinum": 1}, "lastUpdatedDateTime": "2020-12-20T08:06:45Z"}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/npCommunicationIds/NPWR20188_00/trophyGroups?npServiceName=trophy2
  response:
    body:
      string: '{"npServiceName": "trophy2", "npCommunicationId": "NPWR20188_00", "trophySetVersion":
        "01.40", "trophyTitleName": "ASTRO\u2019s PLAYROOM", "trophyTitleIconUrl":
        "https://psnobj.prod.dl.playstation.net/psnobj/NPWR20188_00/9f84e2fc-0cd2-40f1-bfdb-6774fe3a69f6.png",
        "trophyTitlePlatform": "PS5", "definedTrophies": {"bronze": 31, "silver":
        14, "gold": 5, "platinum": 1}, "trophyGroups": [{"trophyGroupId": "default",
        "trophyGroupName": "ASTRO\u2019s PLAYROOM", "trophyGroupIconUrl": "https://psnobj.prod.dl.playstation.net/psnobj/NPWR20188_00/9f84e2fc-0cd2-40f1-bfdb-6774fe3a69f6.png",
        "definedTrophies": {"bronze": 26, "silver": 13, "gold": 3, "platinum": 1}},
        {"trophyGroupId": "001", "trophyGroupName": "ASTRO\u2019s PLAYROOM [ADD-ON]",
        "trophyGroupIconUrl": "https://psnobj.prod.dl.playstation.net/psnobj/NPWR20188_00/9f84e2fc-0cd2-40f1-bfdb-6774fe3a69f6.png",
        "definedTrophies": {"bronze": 1, "silver": 0, "gold": 2, "platinum": 0}},
        {"trophyGroupId": "002", "trophyGroupName": "ASTRO\u2019s PLAYROOM [ADD-ON]
        ", "trophyGroupIconUrl": "https://psnobj.prod.dl.playstation.net/psnobj/NPWR20188_00/9f84e2fc-0cd2-40f1-bfdb-6774fe3a69f6.png",
        "definedTrophies": {"bronze": 4, "silver": 1, "gold": 0, "platinum": 0}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
