interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups?includeFields=members&limit=1&offset=0
  response:
    body:
      string: '{"groups": [{"groupId": "44f4d118fec0bb8e61ad4f985431d2097b72a239-177",
        "groupType": 1, "members": [{"accountId": "2721516955383551246", "onlineId":
        "VaultTec-Co"}, {"accountId": "2066273503397112667", "onlineId": "isFakeAccount"}]}],
        "previousOffset": 0, "nextOffset": 1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: DELETE
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/44f4d118fec0bb8e61ad4f985431d2097b72a239-177/members/2066273503397112667
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
