interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups?includeFields=members&limit=1&offset=0
  response:
    body:
      string: '{"groups": [{"groupId": "~1CACE0CDC2C96B5B.25C4C5406FD6D50E", "groupType":
        0, "members": [{"accountId": "2721516955383551246", "onlineId": "VaultTec-Co"},
        {"accountId": "2066273503397112667", "onlineId": "isFakeAccount"}]}], "previousOffset":
        0, "nextOffset": 1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"groupName": {"value": "Testing API"}}'
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: PATCH
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/~1CACE0CDC2C96B5B.25C4C5406FD6D50E
  response:
    body:
      string: '{"error": {"referenceId": "f0c7a5e3-41e8-11f1-af47-6d510ec1b424", "code":
        2285696, "message": "Bad Request"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
