interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Country:
      - US
      X-Requested-With:
      - com.scee.psxandroid
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&cid=00000000-0000-0000-0000-b025aa3b2674&client_id=09515159-7237-4370-9b40-3806e67c0891&device_base_font_size=10&device_profile=mobile&elements_visibility=no_aclink&enable_scheme_error_code=true&no_captcha=true&PlatformPrivacyWs1=minimal&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&response_type=code&scope=psn%3Amobile.v2.core+psn%3Aclientapp&service_entity=urn%3Aservice-entity%3Apsn&service_logo=ps&smcid=psapp%3Asignin&support_scheme=sneiprls&turnOnTrustedBrowser=true&ui=pr
  response:
    body:
      string: ''
    headers:
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v3.D8WBiW&cid=00000000-0000-0000-0000-b025aa3b2674
      X-CorrelationId:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Request-Id:
      - 17a0ca13b831a2b7b1f91446a55763bc
      X-RequestId:
      - 17a0ca13b831a2b7b1f91446a55763bc
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: cid=00000000-0000-0000-0000-b025aa3b2674&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&scope=psn%3Amobile.v2.core+psn%3Aclientapp&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Country:
      - US
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v2.core psn:clientapp", "id_token": "REDACTED",
        "refresh_token": "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Request-Id:
      - df03526a169e9e011e231658b82483a3
      X-RequestId:
      - df03526a169e9e011e231658b82483a3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/npCommunicationIds/NPWR15179_00/trophyGroups?npServiceName=trophy
  response:
    body:
      string: '{"npServiceName": "trophy", "npCommunicationId": "NPWR15179_00", "trophySetVersion":
        "01.04", "trophyTitleName": "RESIDENT EVIL 2", "trophyTitleDetail": "RESIDENT
        EVIL 2", "trophyTitleIconUrl": "https://image.api.playstation.com/trophy/np/NPWR15179_00_004E1F39C12A2C6264BA2A0546D9234F56889DCC5F/BAFEDE2151A73E1FAFE59B8575EC1CF99F6A75F6.PNG",
        "trophyTitlePlatform": "PS4", "definedTrophies": {"bronze": 30, "silver":
        10, "gold": 4, "platinum": 1}, "trophyGroups": [{"trophyGroupId": "default",
        "trophyGroupName": "RESIDENT EVIL 2", "trophyGroupDetail": "RESIDENT EVIL
        2", "trophyGroupIconUrl": "https://image.api.playstation.com/trophy/np/NPWR15179_00_004E1F39C12A2C6264BA2A0546D9234F56889DCC5F/BAFEDE2151A73E1FAFE59B8575EC1CF99F6A75F6.PNG",
        "definedTrophies": {"bronze": 28, "silver": 9, "gold": 4, "platinum": 1}},
        {"trophyGroupId": "001", "trophyGroupName": "The Ghost Survivors", "trophyGroupDetail":
        "The Ghost Survivors", "trophyGroupIconUrl": "https://image.api.playstation.com/trophy/np/NPWR15179_00_004E1F39C12A2C6264BA2A0546D9234F56889DCC5F/FB76E0DCB21411CED6788A7102640D817E8AE9BC.PNG",
        "definedTrophies": {"bronze": 1, "silver": 1, "gold": 0, "platinum": 0}},
        {"trophyGroupId": "002", "trophyGroupName": "Another Survivor", "trophyGroupDetail":
        "Another Survivor", "trophyGroupIconUrl": "https://image.api.playstation.com/trophy/np/NPWR15179_00_004E1F39C12A2C6264BA2A0546D9234F56889DCC5F/1A3F3ECC12830FA7CDCC88F8DADD69EC396DCE3A.PNG",
        "definedTrophies": {"bronze": 1, "silver": 0, "gold": 0, "platinum": 0}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/me/npCommunicationIds/NPWR15179_00/trophyGroups?npServiceName=trophy
  response:
    body:
      string: '{"error": {"referenceId": "640abf4e-2744-11ef-bdb5-9b034baad5ca", "code":
        2240525, "message": "Resource not found"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
