interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamelist/v2/users/2066273503397112667/titles?limit=200&offset=0
  response:
    body:
      string: '{"titles": [], "nextOffset": null, "previousOffset": 0, "totalItemCount":
        0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Correlation-Id:
      - 257590f0-8db6-438f-b7ec-f9a496c1a61a
      X-Psn-Request-Id:
      - 257590f0-8db6-438f-b7ec-f9a496c1a61a
    status:
      code: 200
      message: OK
version: 1
