interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups?includeFields=members&limit=10&offset=0
  response:
    body:
      string: '{"groups": [{"groupId": "~1CACE0CDC2C96B5B.25C4C5406FD6D50E", "groupType":
        0, "members": [{"accountId": "2721516955383551246", "onlineId": "VaultTec-Co"},
        {"accountId": "2066273503397112667", "onlineId": "isFakeAccount"}]}, {"groupId":
        "~25C4C5406FD6D50E.7AF3224877607CC0", "groupType": 0, "members": [{"accountId":
        "2721516955383551246", "onlineId": "VaultTec-Co"}, {"accountId": "8859462586603699392",
        "onlineId": "test"}]}, {"groupId": "8e69128e4611fa8160de2aa33bf229ac8a969c5e-115",
        "groupType": 1, "members": [{"accountId": "2721516955383551246", "onlineId":
        "VaultTec-Co"}, {"accountI[...]
