interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/5007681186655854753/trophyTitles?limit=50&offset=0
  response:
    body:
      string: '{"error": {"referenceId": "3a27a9d3-2741-11ef-aeb6-fbc96d44e62b", "code":
        2240526, "message": "Not permitted by access control"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 403
      message: Forbidden
version: 1
