interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/isFakeAccount/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "isFakeAccount", "accountId": "2066273503397112667"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"invitees": [{"accountId": "2066273503397112667"}]}'
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: POST
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups
  response:
    body:
      string: '{"groupId": "~1CACE0CDC2C96B5B.25C4C5406FD6D50E", "mainThread": {"threadId":
        "~1CACE0CDC2C96B5B.25C4C5406FD6D50E"}, "hasAllAccountInvited": true}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"messageType": 1, "body": "Hello World"}'
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: POST
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/~1CACE0CDC2C96B5B.25C4C5406FD6D50E/threads/~1CACE0CDC2C96B5B.25C4C5406FD6D50E/messages
  response:
    body:
      string: '{"messageUid": "1#439805868397896", "createdTimestamp": "1717991673429"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/~1CACE0CDC2C96B5B.25C4C5406FD6D50E/threads/~1CACE0CDC2C96B5B.25C4C5406FD6D50E/messages?limit=1
  response:
    body:
      string: '{"messages": [{"messageUid": "1#439805868397896", "messageType": 1,
        "alternativeMessageType": 1, "body": "Hello World", "createdTimestamp": "1717991673429",
        "sender": {"accountId": "2721516955383551246", "onlineId": "VaultTec-Co"}}],
        "previous": "1#439805868397896", "next": "1#439805868397896", "reachedEndOfPage":
        false, "messageCount": 1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
