interactions:
- request:
    body: '{"messageType": 1, "body": "Hi"}'
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: POST
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/~25C4C5406FD6D50E.763F9A1EB6AB5791/threads/~25C4C5406FD6D50E.763F9A1EB6AB5791/messages
  response:
    body:
      string: '{"error": {"referenceId": "ed92ca96-2c2f-11ef-b713-174183eb5779", "code":
        2285581, "message": "Resource not found (groupId=''~25C4C5406FD6D50E.763F9A1EB6AB5791'')"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
