interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/2066273503397112667/basicPresences?type=primary
  response:
    body:
      string: '{"basicPresence": {"availability": "unavailable", "primaryPlatformInfo":
        {"onlineStatus": "offline"}}}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0069411983548113222
    status:
      code: 200
      message: OK
version: 1
