interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Country:
      - US
      X-Requested-With:
      - com.scee.psxandroid
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&cid=00000000-0000-0000-0000-b025aa3b2674&client_id=09515159-7237-4370-9b40-3806e67c0891&device_base_font_size=10&device_profile=mobile&elements_visibility=no_aclink&enable_scheme_error_code=true&no_captcha=true&PlatformPrivacyWs1=minimal&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&response_type=code&scope=psn%3Amobile.v2.core+psn%3Aclientapp&service_entity=urn%3Aservice-entity%3Apsn&service_logo=ps&smcid=psapp%3Asignin&support_scheme=sneiprls&turnOnTrustedBrowser=true&ui=pr
  response:
    body:
      string: ''
    headers:
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v3.GbtyKk&cid=00000000-0000-0000-0000-b025aa3b2674
      X-CorrelationId:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Request-Id:
      - 8d60cc4f6d1ad4c006b3aa6c73608a71
      X-RequestId:
      - 8d60cc4f6d1ad4c006b3aa6c73608a71
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: cid=00000000-0000-0000-0000-b025aa3b2674&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&scope=psn%3Amobile.v2.core+psn%3Aclientapp&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Country:
      - US
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v2.core psn:clientapp", "id_token": "REDACTED",
        "refresh_token": "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Request-Id:
      - 7fe05d58800b82ce715fe2b60ecb672c
      X-RequestId:
      - 7fe05d58800b82ce715fe2b60ecb672c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/jeranther/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "jeranther", "accountId": "1802043923080044300"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/npCommunicationIds/NPWR15509_00/trophyGroups?npServiceName=trophy
  response:
    body:
      string: '{"npServiceName": "trophy", "npCommunicationId": "NPWR15509_00", "trophySetVersion":
        "01.07", "trophyTitleName": "Fallout 76", "trophyTitleDetail": "Fallout 76",
        "trophyTitleIconUrl": "https://image.api.playstation.com/trophy/np/NPWR15509_00_00FEDEFDF75690C37D4051FC8F80462BB7C362282B/A4D94FEACEEE402B1FFF2742BB5F6E5A3DA1C26C.PNG",
        "trophyTitlePlatform": "PS4", "definedTrophies": {"bronze": 53, "silver":
        18, "gold": 1, "platinum": 1}, "trophyGroups": [{"trophyGroupId": "default",
        "trophyGroupName": "Fallout 76", "trophyGroupDetail": "Fallout 76", "trophyGroupIconUrl":
        "https://image.api.playstation.com/trophy/np/NPWR15509_00_00FEDEFDF75690C37D4051FC8F80462BB7C362282B/A4D94FEACEEE402B1FFF2742BB5F6E5A3DA1C26C.PNG",
        "definedTrophies": {"bronze": 34, "silver": 15, "gold": 1, "platinum": 1}},
        {"trophyGroupId": "001", "trophyGroupName": "Wastelanders", "trophyGroupDetail":
        "Wastelanders", "trophyGroupIconUrl": "https://image.api.playstation.com/trophy/np/NPWR15509_00_00FEDEFDF75690C37D4051FC8F80462BB7C362282B/55E3C78AABD34ED96A44147[...]
[...]
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/1802043923080044300/npCommunicationIds/NPWR15509_00/trophyGroups?npServiceName=trophy
  response:
    body:
      string: '{"trophySetVersion": "01.07", "hiddenFlag": false, "progress": 77,
        "earnedTrophies": {"bronze": 38, "silver": 15, "gold": 1, "platinum": 1},
        "lastUpdatedDateTime": "2020-11-28T22:55:19Z", "trophyGroups": [{"trophyGroupId":
        "default", "progress": 100, "earnedTrophies": {"bronze": 34, "silver": 15,
        "gold": 1, "platinum": 1}, "lastUpdatedDateTime": "2020-11-22T17:51:30Z"},
        {"trophyGroupId": "001", "progress": 30, "earnedTrophies": {"bronze": 4, "silver":
        0, "gold": 0, "platinum": 0}, "lastUpdatedDateTime": "2020-11-28T22:55:16Z"},
        {"trophyGroupId": "002", "progress": 0, "earnedTrophies": {"bronze": 0, "silver":
        0, "gold": 0, "platinum": 0}}, {"trophyGroupId": "003", "progress": 0, "earnedTrophies":
        {"bronze": 0, "silver": 0, "gold": 0, "platinum": 0}}, {"trophyGroupId": "004",
        "progress": 0, "earnedTrophies": {"bronze": 0, "silver": 0, "gold": 0, "platinum":
        0}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
