interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamelist/v2/users/me/titles?limit=200&offset=0
  response:
    body:
      string: '{"titles": [], "nextOffset": null, "previousOffset": 0, "totalItemCount":
        0}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Correlation-Id:
      - f1d89df7-416c-4b1d-9785-31f50a2481b0
      X-Psn-Request-Id:
      - f1d89df7-416c-4b1d-9785-31f50a2481b0
    status:
      code: 200
      message: OK
version: 1
