interactions:
- request:
    body: '{"invitees": [{"accountId": "2066273503397112667"}, {"accountId": "5007681186655854753"}]}'
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: POST
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups
  response:
    body:
      string: '{"groupId": "a7405d033fd0269eeca0db7e9f4bc5cbcc124789-972", "mainThread":
        {"threadId": "a7405d033fd0269eeca0db7e9f4bc5cbcc124789-972"}, "hasAllAccountInvited":
        true}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"groupName": {"value": "Testing API"}}'
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: PATCH
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/a7405d033fd0269eeca0db7e9f4bc5cbcc124789-972
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
