interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamelist/v2/users/2066273503397112667/titles?limit=200&offset=0
  response:
    body:
      string: '{"titles": [], "nextOffset": null, "previousOffset": 0, "totalItemCount":
        0}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Correlation-Id:
      - 621a53a3-83f6-1031-8de3-802a9dd8a2f0
      X-Psn-Request-Id:
      - 621a53a3-83f6-1031-8de4-802a9dd8a2f0
    status:
      code: 200
      message: OK
version: 1
