interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/5007681186655854753/friends?limit=1000
  response:
    body:
      string: '{"error": {"referenceId": "2f3c43a6-41e9-11f1-bf9d-211d65df37cc", "code":
        2281486, "message": "Not permitted by access control"}}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0173015171172811836
    status:
      code: 403
      message: Forbidden
version: 1
