interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/VaultTec_Trading/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "VaultTec_Trading", "accountId": "8520698476712646544"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/8520698476712646544/trophySummary
  response:
    body:
      string: '{"accountId": "8520698476712646544", "trophyLevel": 1, "trophyPoint":
        0, "trophyLevelBasePoint": 0, "trophyLevelNextPoint": 60, "progress": 0, "tier":
        1, "earnedTrophies": {"bronze": 0, "silver": 0, "gold": 0, "platinum": 0}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
