interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v2/internal/users/5007681186655854753/basicPresences?platforms=PS4%2CPS5%2CMOBILE_APP%2CPSPC&type=primary&withOwnGameTitleInfo=true
  response:
    body:
      string: '{"error": {"referenceId": "280d46c0-41e9-11f1-a175-135191cdf5a8", "code":
        2281486, "message": "Not permitted by access control"}}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0657230936218469944
    status:
      code: 403
      message: Forbidden
version: 1
