interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups?includeFields=members&limit=1&offset=0
  response:
    body:
      string: '{"groups": [{"groupId": "~1CACE0CDC2C96B5B.25C4C5406FD6D50E", "groupType":
        0, "members": [{"accountId": "2721516955383551246", "onlineId": "VaultTec-Co"},
        {"accountId": "2066273503397112667", "onlineId": "isFakeAccount"}]}], "previousOffset":
        0, "nextOffset": 1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"messageType": 1, "body": "Hello World!"}'
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: POST
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/~1CACE0CDC2C96B5B.25C4C5406FD6D50E/threads/~1CACE0CDC2C96B5B.25C4C5406FD6D50E/messages
  response:
    body:
      string: '{"messageUid": "1#454978660083246", "createdTimestamp": "1777260390950"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
