interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/Ali_chabuk190/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "Ali_chabuk190", "accountId": "93330175277685226"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/93330175277685226/trophyTitles?limit=50&offset=0
  response:
    body:
      string: '{"trophyTitles": [{"npServiceName": "trophy2", "npCommunicationId":
        "NPWR39971_00", "trophySetVersion": "01.00", "trophyTitleName": "Alan Wake
        II", "trophyTitleIconUrl": "https://psnobj.prod.dl.playstation.net/psnobj/NPWR39971_00/145b639c-0063-43ed-8dce-83be47c5a846.png",
        "trophyTitlePlatform": "PS5", "hasTrophyGroups": true, "definedTrophies":
        {"bronze": 76, "silver": 2, "gold": 0, "platinum": 1}, "progress": 37, "earnedTrophies":
        {"bronze": 28, "silver": 1, "gold": 0, "platinum": 0}, "hiddenFlag": false,
        "lastUpdatedDateTime": "2024-06-15T22:16:28Z"}, {"npServiceName": "trophy",
        "npCommunicationId": "NPWR36569_00", "trophySetVersion": "01.00", "trophyTitleName":
        "Lies of P", "trophyTitleDetail": "Lies of P", "trophyTitleIconUrl": "https://image.api.playstation.com/trophy/np/NPWR36569_00_00CE99CA32E0CAD3D1711ACF195741BB08CBF641A3/254370D76C521C69FB2BFDF4DBB54AD727F02228.PNG",
        "trophyTitlePlatform": "PS4", "hasTrophyGroups": false, "definedTrophies":
        {"bronze": 26, "silver": 13, "gold": 3, "platinum": 1}, "progress": 84, "earnedTrophies":
        {"bronze": 25, "silver": 11, "gold": 2, "platinum": 0}, "hiddenFlag": false,
        "lastUpdatedDateTime": "2024-06-13T21:35:1[...]
[...]
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/93330175277685226/trophyTitles?limit=50&offset=250
  response:
    body:
      string: '{"trophyTitles": [{"npServiceName": "trophy", "npCommunicationId":
        "NPWR31336_00", "trophySetVersion": "01.00", "trophyTitleName": "The Jumping
        Nuggets: TURBO", "trophyTitleDetail": "The trophy set of The Jumping Nuggets:
        TURBO", "trophyTitleIconUrl": "https://image.api.playstation.com/trophy/np/NPWR31336_00_004AAA2970BA87566283514ACA79B0549E8A4EFA66/1FEB8BB664F4A59AF6F6D603E5B791DE678CC8BA.PNG",
        "trophyTitlePlatform": "PS4", "hasTrophyGroups": false, "definedTrophies":
        {"bronze": 6, "silver": 5, "gold": 9, "platinum": 1}, "progress": 100, "earnedTrophies":
        {"bronze": 6, "silver": 5, "gold": 9, "platinum": 1}, "h[...]
[...]
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/93330175277685226/trophyTitles?limit=50&offset=350
  response:
    body:
      string: '{"trophyTitles": [{"npServiceName": "trophy", "npCommunicationId":
        "NPWR33069_00", "trophySetVersion": "01.00", "trophyTitleName": "The Jumping
        Bagel: TURBO", "trophyTitleDetail": "The trophy set of The Jumping Bagel:
        TURBO", "trophyTitleIconUrl": "https://image.api.playstation.com/trophy/np/NPWR33069_00_00762F4877A65C5E4C46D7B289EEA920970B420A01/2D81D8896D269E00929D6E55188730FA06B9CFE1.PNG",
        "trophyTitlePlatform": "PS4", "hasTrophyGroups": false, "definedTrophies":
        {"bronze": 6, "silver": 5, "gold": 9, "platinum": 1}, "progress": 100, "earnedTrophies":
        {"bronze": 6, "silver": 5, "gold": 9, "platinum": 1}, "hid[...]
[...]
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/93330175277685226/trophyTitles?limit=50&offset=1350
  response:
    body:
      string: '{"trophyTitles": [{"npServiceName": "trophy", "npCommunicationId":
        "NPWR10882_00", "trophySetVersion": "01.01", "trophyTitleName": "Table Top
        Racing: World Tour", "trophyTitleDetail": "Take the TTR Trophy challenge and
        see if you can win that Platinum!", "trophyTitleIconUrl": "https://image.api.playstation.com/trophy/np/NPWR10882_00_00F2FCD788E370D2F7214DF22C0E350C437ECBF284/03BE8D5FEE87176823C5BE0BE33C693CCC7B2516.PNG",
        "trophyTitlePlatform": "PS4", "hasTrophyGroups": true, "definedTrophies":
        {"bronze": 18, "silver": 12, "gold": 6, "platinum": 1}, "progress": 23, "earnedTrophies":
        {"bronze": 10, "silver": 4, [...]
