interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups?includeFields=members&limit=1&offset=0
  response:
    body:
      string: '{"groups": [{"groupId": "44f4d118fec0bb8e61ad4f985431d2097b72a239-177",
        "groupType": 1, "members": [{"accountId": "2721516955383551246", "onlineId":
        "VaultTec-Co"}]}], "previousOffset": 0, "nextOffset": 1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: DELETE
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/44f4d118fec0bb8e61ad4f985431d2097b72a239-177/members/5007681186655854753
  response:
    body:
      string: '{"error": {"referenceId": "ffa24aa3-41e8-11f1-bb79-7d24f188a8c1", "code":
        2285581, "message": "Resource not found (groupId=''44f4d118fec0bb8e61ad4f985431d2097b72a239-177'')"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
