interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups?includeFields=members&limit=1&offset=0
  response:
    body:
      string: '{"groups": [{"groupId": "~1CACE0CDC2C96B5B.25C4C5406FD6D50E", "groupType":
        0, "members": [{"accountId": "2721516955383551246", "onlineId": "VaultTec-Co"},
        {"accountId": "2066273503397112667", "onlineId": "isFakeAccount"}]}], "previousOffset":
        0, "nextOffset": 1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/~1CACE0CDC2C96B5B.25C4C5406FD6D50E?includeFields=groupName%2CgroupIcon%2Cmembers%2CmainThread%2CjoinedTimestamp%2CmodifiedTimestamp%2CisFavorite%2CexistsNewArrival%2CnotificationSetting
  response:
    body:
      string: '{"groupId": "~1CACE0CDC2C96B5B.25C4C5406FD6D50E", "groupType": 0, "modifiedTimestamp":
        "1777260390950", "groupName": {"value": "", "status": 0}, "groupIcon": {"status":
        0}, "joinedTimestamp": "1717991006000", "isFavorite": false, "existsNewArrival":
        false, "mainThread": {"threadId": "~1CACE0CDC2C96B5B.25C4C5406FD6D50E", "modifiedTimestamp":
        "1777260390950", "latestMessage": {"messageUid": "1#454978660083246", "messageType":
        1, "alternativeMessageType": 1, "body": "Hello World!", "createdTimestamp":
        "1777260390950", "sender": {"accountId": "2721516955383551246", "onlineId":
        "VaultTec-Co"}}, "readMessageUid": "1#454978660083246"}, "members": [{"accountId":
        "2721516955383551246", "onlineId": "VaultTec-Co"}, {"accountId": "2066273503397112667",
        "onlineId": "isFakeAccount"}], "notificationSetting": {"isMute": false}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
