interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamelist/v2/users/me/titles?limit=200&offset=0
  response:
    body:
      string: '{"titles": [], "nextOffset": null, "previousOffset": 0, "totalItemCount":
        0}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Correlation-Id:
      - cff559dc-834e-1031-b862-c9f0b15c1c84
      X-Psn-Request-Id:
      - cff559dc-834e-1031-b863-c9f0b15c1c84
    status:
      code: 200
      message: OK
version: 1
