interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/entitlement/v2/users/me/internal/entitlements?entitlementType=1%2C2%2C3%2C4%2C5&fields=titleMeta%2CgameMeta%2CconceptMeta%2CrewardMeta%2CrewardMeta.retentionPolicy%2CrewardMeta.rewardMembershipType&gameMetaPackageType=PSGD%2CPS4GD&limit=5&offset=0
  response:
    body:
      string: '{"revisionId": 1776972236213, "start": 0, "totalResults": 30, "entitlements":
        [{"id": "UP1821-CUSA06122_00-ROBLOXPLAYERBETA", "activeDate": "2025-05-19T02:18:54Z",
        "entitlementType": 5, "skuId": "UP1821-CUSA06122_00-0000040810600000-U001",
        "productId": "UP1821-CUSA06122_00-0000040810600000", "activeFlag": true, "revisionId":
        1776972236213, "featureType": 1, "preorderFlag": false, "remainingCount":
        0, "consumedCount": 0, "isConsumable": false, "isSubscription": false, "entitlementAttributes":
        [{"entitlementKeyFlag": true, "platformId": "ps4", "placeholderFlag": false}],
        "gameMeta": {"name": "Roblox", "type": "PS4GD", "iconUrl": "https://image.api.playstation.com/gs2-sec/appkgo/prod/CUSA06122_00/5/i_dfa0f5e7744737dec03c3ca3687ce2826c2373656d81ffe759dc000286973973/i/icon0.png",
        "packageType": "PS4GD"}, "titleMeta": {"titleId": "CUSA06122_00", "name":
        "Roblox", "imageUrl": "https://image.api.playstation.com/vulcan/ap/rnd/202309/1519/a8f7812fb2d0139ab7d0103ba945ef15708d30a626ffd5dc.png"},
        "conceptMeta": {"conceptId": "223118", "name": "Roblox", "iconUrl": "https://image.api.playstation.com/vulcan/ap/rnd/202604/0801/f2bdf0b6807d0e43c432e4de00f444df6c97732065904006.png",
        "minimumAge": 0}, "rewardMeta": {"rewardServiceType": 0, "retentionPolicy":
        0}, "preorderPlaceholderFlag": false, "serviceType": 0}, {"id": "HP7588-PPSA26492_00-FRAGPUNKBGNE0000",
        "activeDate": "2025-05-19T02:19:09Z", "entitlementType": 5, "skuId": "HP7588-PPSA26492_00-FRAGPUNKBGNE0000-U002",
        "productId": "HP7588-PPSA26492_00-FRAGPUNKBGNE0000", "activeFlag": true, "revisionId":
        1776972236213, "featureType": 3, "preorderFlag": false, "remainingCount":
        0, "consumedCount": 0, "isConsumable": false, "isSubscription": false, "entitlementAttributes":
        [{"entitlementKeyFlag": true, "platformId": "ps5", "placeholderFlag": false}],
        "gameMeta": {"name": "FragPunk", "type": "PSGD", "iconUrl": "https://image.api.playstation.com/sgst/prod/00/PPSA26492_00/app/info/60/fi_a2ccc28abe4cb49c3e268f8eaeea6a2588efd142638fb51d9a67894e494f8a2b/icon0.png",
        "packageType": "PSGD"}, "titleMeta": {"titleId": "PPSA26492_00", "name": "FragPunk",
        "imageUrl": "https://image.api.playstation.com/vulcan/ap/rnd/202501/1011/4c3e6e21ae023b67d1c66b06f778a4f59ae1516705398873.png"},
        "conceptMeta": {"conceptId": "10012871", "name": "FragPunk", "iconUrl": "https://image.api.playstation.com/vulcan/ap/rnd/202601/2210/f46bcf4bcb4f77945a6f7e17c9f631a378690b1db6214ed0.png",
        "minimumAge": 12}, "rewardMeta": {"rewardServiceType": 0, "retentionPolicy":
        0}, "preorderPlaceholderFlag": false, "isBeta": false, "isGame": true, "serviceType":
        0}, {"id": "UB0335-PPSA21669_00-0320312678245089", "activeDate": "2025-05-19T02:19:20Z",
        "entitlementType": 5, "skuId": "UB0335-PPSA21669_00-0320312678245089-U001",
        "productId": "UB0335-PPSA21669_00-0320312678245089", "activeFlag": true, "revisionId":
        1776972236213, "featureType": 3, "preorderFlag": false, "remainingCount":
        0, "consumedCount": 0, "isConsumable": false, "isSubscription": false, "entitlementAttributes":
        [{"entit[...]
[...]
