interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/jeranther/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "jeranther", "accountId": "1802043923080044300"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/1802043923080044300/titles/trophyTitles?npTitleIds=PPSA01506_00%2CCUSA12057_00%2CCUSA00419_00
  response:
    body:
      string: '{"titles": [{"npTitleId": "CUSA12057_00", "trophyTitles": [{"npServiceName":
        "trophy", "npCommunicationId": "NPWR15509_00", "trophyTitleName": "Fallout
        76", "trophyTitleDetail": "Fallout 76", "trophyTitleIconUrl": "https://image.api.playstation.com/trophy/np/NPWR15509_00_00FEDEFDF75690C37D4051FC8F80462BB7C362282B/A4D94FEACEEE402B1FFF2742BB5F6E5A3DA1C26C.PNG",
        "hasTrophyGroups": true, "rarestTrophies": [{"trophyId": 0, "trophyHidden":
        false, "trophyType": "platinum", "trophyName": "Platinum Trophy", "trophyDetail":
        "Collect all other 50 Trophies for this Trophy", "trophyIconUrl": "https://image.api.playstation.com/trophy/np/NPWR15509_00_00FEDEFDF75690C37D4051FC8F80462BB7C362282B/FDEA5B4032CA08AAF3C305EDFEBAA7CA11B8FA72.PNG",
        "trophyRare": 0, "trophyEarnedRate": "1.0", "earned": true, "earnedDateTime":
        "2020-11-22T17:51:30Z"}], "progress": 77, "earnedTrophies": {"bronze": 38,
        "silver": 15, "gold": 1, "platinum": 1}, "definedTrophies": {"bronze": 53,
        "silver": 18, "gold": 1, "platinum": 1}, "lastUpdatedDateTime": "2020-11-28T22:55:19Z"}]},
        {"npTitleId": "PPSA01506_00", "trophyTitles": [{"npServiceName": "trophy2",
        "npCommunicationId": "NPWR21237_00", "trophyTitleName": "Immortals Fenyx Rising
        \u2122", "trophyTitleIconUrl": "https://psnobj.prod.dl.playstation.net/psnobj/NPWR21237_00/98744844-873e-479e-83c1-5853ea2024b6.png",
        "hasTrophyGroups": true, "rarestTrophies": [{"trophyId": 32, "trophyHidden":
        false, "trophyType": "gold", "trophyName": "Armed and Dangerous",[...]
