interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/me/friends?limit=1000
  response:
    body:
      string: '{"friends": ["5361973517281706660", "940512162723934331", "4273405838384737823"],
        "totalItemCount": 3}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0659615561964047468
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/5361973517281706660/profiles
  response:
    body:
      string: '{"onlineId": "Rodders1013", "aboutMe": "F83C", "avatars": [{"size":
        "s", "url": "http://static-resource.np.community.playstation.net/avatar_s/SCEI/I0057_s.png"},
        {"size": "xl", "url": "http://static-resource.np.community.playstation.net/avatar_xl/SCEI/I0057_XL.png"},
        {"size": "l", "url": "http://static-resource.np.community.playstation.net/avatar/SCEI/I0057.png"},
        {"size": "m", "url": "http://static-resource.np.community.playstation.net/avatar_m/SCEI/I0057_m.png"}],
        "languages": ["en-US"], "isPlus": true, "isOfficiallyVerified": false, "isMe":
        false}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0709278115105095032
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v2/internal/users//basicPresences?accountIds=5361973517281706660%2C940512162723934331%2C4273405838384737823&platforms=PS4%2CPS5%2CMOBILE_APP%2CPSPC&type=primary&withOwnGameTitleInfo=true
  response:
    body:
      string: '{"basicPresences": [{"accountId": "5361973517281706660", "availability":
        "unavailable", "lastAvailableDate": "2026-04-26T18:32:13.322Z", "primaryPlatformInfo":
        {"onlineStatus": "offline", "platform": "PS5", "lastOnlineDate": "2026-04-26T18:32:13.322Z"}},
        {"accountId": "940512162723934331", "availability": "unavailable", "lastAvailableDate":
        "2026-04-24T09:29:16.993Z", "primaryPlatformInfo": {"onlineStatus": "offline",
        "platform": "PS5", "lastOnlineDate": "2026-04-24T09:29:16.993Z"}}, {"accountId":
        "4273405838384737823", "availability": "unavailable", "lastAvailableDate":
        "2026-02-04T08:17:22.856Z", "primaryPlatformInfo": {"onlineStatus": "offline",
        "platform": "PS4", "lastOnlineDate": "2026-02-04T08:17:22.856Z"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0898289902320627573
    status:
      code: 200
      message: OK
version: 1
