interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Country:
      - US
      X-Requested-With:
      - com.scee.psxandroid
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?PlatformPrivacyWs1=minimal&access_type=offline&client_id=09515159-7237-4370-9b40-3806e67c0891&device_base_font_size=10&device_profile=mobile&elements_visibility=no_aclink&enable_scheme_error_code=true&no_captcha=true&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&response_type=code&scope=psn%3Amobile.v2.core+psn%3Aclientapp&service_entity=urn%3Aservice-entity%3Apsn&service_logo=ps&smcid=psapp%3Asignin&support_scheme=sneiprls&turnOnTrustedBrowser=true&ui=pr
  response:
    body:
      string: ''
    headers:
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v3.UYD85V&cid=00000000-0000-0000-0000-b025aa3b2674
      X-CorrelationId:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Request-Id:
      - d864b6fce14db085db13d0827131771b
      X-RequestId:
      - d864b6fce14db085db13d0827131771b
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: cid=00000000-0000-0000-0000-b025aa3b2674&code=v3.UYD85V&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&scope=psn%3Amobile.v2.core+psn%3Aclientapp&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Country:
      - US
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v2.core psn:clientapp", "id_token": "REDACTED",
        "refresh_token": "REDACTED", "refresh_token_expires_in": 863999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Request-Id:
      - c2f717f3ca308899ccfb40a25adf4a19
      X-RequestId:
      - c2f717f3ca308899ccfb40a25adf4a19
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/jeranther/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "jeranther", "accountId": "1802043923080044300"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/1802043923080044300/friends?limit=-1
  response:
    body:
      string: '{"error": {"referenceId": "5b66d54c-41e8-11f1-944a-bf4ee231e60e", "code":
        2281473, "message": "Bad Request (query: limit)"}}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0927949458296856220
    status:
      code: 400
      message: Bad Request
version: 1
