interactions:
- request:
    body: '{"invitees": [{"accountId": "5007681186655854753"}]}'
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: POST
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups
  response:
    body:
      string: '{"error": {"referenceId": "f4c1dd8e-41e8-11f1-ac54-41b27d0d5cf0", "code":
        2286592, "message": "Request is rejected due to all targets'' settings"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 403
      message: Forbidden
version: 1
