interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/6515971742264256071/titles/trophyTitles?npTitleIds=SSSA01325_00%2C
  response:
    body:
      string: '{"error": {"referenceId": "b9eb4e85-41e8-11f1-9069-7b488dc1e7b0", "code":
        2240525, "message": "Resource not found (npTitleId=''SSSA01325_00'')"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
