interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Country:
      - US
      X-Requested-With:
      - com.scee.psxandroid
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?PlatformPrivacyWs1=minimal&access_type=offline&client_id=09515159-7237-4370-9b40-3806e67c0891&device_base_font_size=10&device_profile=mobile&elements_visibility=no_aclink&enable_scheme_error_code=true&no_captcha=true&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&response_type=code&scope=psn%3Amobile.v2.core+psn%3Aclientapp&service_entity=urn%3Aservice-entity%3Apsn&service_logo=ps&smcid=psapp%3Asignin&support_scheme=sneiprls&turnOnTrustedBrowser=true&ui=pr
  response:
    body:
      string: ''
    headers:
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v3.DaAf4z&cid=00000000-0000-0000-0000-b025aa3b2674
      X-CorrelationId:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Request-Id:
      - 8867b983cfc7655d8d05096cc969d491
      X-RequestId:
      - 8867b983cfc7655d8d05096cc969d491
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: cid=00000000-0000-0000-0000-b025aa3b2674&code=v3.DaAf4z&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&scope=psn%3Amobile.v2.core+psn%3Aclientapp&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Country:
      - US
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v2.core psn:clientapp", "id_token": "REDACTED",
        "refresh_token": "REDACTED", "refresh_token_expires_in": 863999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Correlation-Id:
      - 00000000-0000-0000-0000-b025aa3b2674
      X-Psn-Request-Id:
      - a4a086fb5a81287470f156bf45215cbe
      X-RequestId:
      - a4a086fb5a81287470f156bf45215cbe
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/me/friends/receivedRequests
  response:
    body:
      string: '{"receivedRequests": [{"accountId": "2066273503397112667", "relation":
        "requested", "personalDetailSharing": "none", "acceptSharingPersonalDetailFlag":
        false, "requestedDate": "2026-04-27T03:36:11.788Z"}], "totalItemCount": 1}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0390800954765016766
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/2066273503397112667/profiles
  response:
    body:
      string: '{"onlineId": "isFakeAccount", "aboutMe": "", "avatars": [{"size": "s",
        "url": "http://static-resource.np.community.playstation.net/avatar_s/WWS_J/J2085_s.png"},
        {"size": "xl", "url": "http://static-resource.np.community.playstation.net/avatar_xl/WWS_J/J2085_xl.png"},
        {"size": "l", "url": "http://static-resource.np.community.playstation.net/avatar/WWS_J/J2085_l.png"},
        {"size": "m", "url": "http://static-resource.np.community.playstation.net/avatar_m/WWS_J/J2085_m.png"}],
        "languages": ["en-US"], "isPlus": false, "isOfficiallyVerified": false, "isMe":
        false}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0704379796549505155
    status:
      code: 200
      message: OK
version: 1
