interactions:
- request:
    body: null
    headers:
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v2/internal/users/2066273503397112667/basicPresences?platforms=PS4%2CPS5%2CMOBILE_APP%2CPSPC&type=primary&withOwnGameTitleInfo=true
  response:
    body:
      string: '{"basicPresence": {"availability": "unavailable", "lastAvailableDate":
        "2026-04-26T18:37:49.606Z", "primaryPlatformInfo": {"onlineStatus": "offline",
        "platform": "MOBILE_APP", "lastOnlineDate": "2026-04-26T18:37:49.606Z"}}}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0762092182873217246
    status:
      code: 200
      message: OK
version: 1
