interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=ac8d161a-d966-4728-b0ea-ffec22f69edc&scope=psn%3Aclientapp+psn%3Amobile.v1&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v3.B13qoQ&cid=0909c7a3-96bd-4500-9daa-f517ca8033ea
      X-CorrelationId:
      - 0909c7a3-96bd-4500-9daa-f517ca8033ea
      X-Psn-Correlation-Id:
      - 0909c7a3-96bd-4500-9daa-f517ca8033ea
      X-Psn-Request-Id:
      - d708a4478ce6ce11201968ed153964e2
      X-RequestId:
      - d708a4478ce6ce11201968ed153964e2
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - c98b867c-365c-4195-a8da-339a99be9661
      X-Psn-Correlation-Id:
      - c98b867c-365c-4195-a8da-339a99be9661
      X-Psn-Request-Id:
      - 6c630b046f670785a436cc41d81b10c2
      X-RequestId:
      - 6c630b046f670785a436cc41d81b10c2
    status:
      code: 200
      message: OK
version: 1
