interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/jeranther/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "jeranther", "accountId": "1802043923080044300"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/1802043923080044300/trophyTitles?limit=100&offset=0
  response:
    body:
      string: '{"trophyTitles": [{"npServiceName": "trophy2", "npCommunicationId":
        "NPWR31904_00", "trophySetVersion": "01.07", "trophyTitleName": "Fallout 4",
        "trophyTitleIconUrl": "https://psnobj.prod.dl.playstation.net/psnobj/NPWR31904_00/c57616d5-bba3-4b9e-a40a-cf9ff3c64d8f.png",
        "trophyTitlePlatform": "PS5", "hasTrophyGroups": true, "definedTrophies":
        {"bronze": 66, "silver": 17, "gold": 1, "platinum": 1}, "progress": 28, "earnedTrophies":
        {"bronze": 20, "silver": 5, "gold": 0, "platinum": 0}, "hiddenFlag": false,
        "lastUpdatedDateTime": "2024-05-18T16:40:23Z"}, {"npServiceName": "trophy2",
        "npCommunicationId": "NPWR38673_00", "trophySetVersion": "01.00", "trophyTitleName":
        "MLB\u00ae The Show\u2122 24", "trophyTitleIconUrl": "https://psnobj.prod.dl.playstation.net/psnobj/NPWR38673_00/3b977f67-340a-4d18-bb2b-93c47eec47b2.png",
        "trophyTitlePlatform": "PS5", "hasTrophyGroups": false, "definedTrophies":
        {"bronze": 9, "silver": 10, "gold": 6, "platinum": 1}, "progress": 90, "earnedTrophies":
        {"bronze": 9, "silver": 10, "gold": 5, "platinum": 0}, "hiddenFlag": false,
        "lastUpdatedDateTime": "2024-04-27T12:36:39Z"}, {"npServiceName": "trophy2",
        "npCommunicationId": "NPWR38397_00", "trophySetVersion": "01.00", "trophyTitleName":
        "WWE 2K24", "trophyTitleIconUrl": "https://psnobj.prod.dl.playstation.net/psnobj/NPWR38397_00/3964c5c5-c436-4818-b559-d44529e9f369.png",
        "trophyTitlePlatform": "PS5", "hasTrophyGroups": false, "definedTrophies":
        {"bronze": 58, "silver": 3, "gold": 1, "platinum": 1}, "progress": 32, "earnedTrophies":
        {"bronze": 19, "silver": 2, "gold": 0, "platinum": 0}, "hiddenFlag": false,
        "lastUpdatedDateTime": "2024-03-21T21:33:43Z"}, {"npServiceName": "trophy",
        "npCommunicationId": "NPWR10156_00", "trophySetVersion": "01.01", "trophyTitleName":
        "Prison Architect: PlayStation\u00ae4 Edition", "trophyTitleDetail": "Trophy
        Set for Prison Architect: PlayStation\u00ae4 Edition", "trophyTitleIconUrl":
        "https://image.api.playstation.com/trophy/np/NPWR10156_00_003B9C6F21A618DAB87FA61A5670830954F5717BF0/A00FDDE52532B5D00AEAB14030B39C21CEDB34EF.PNG",
        "trophyTitlePlatform": "PS4", "hasTrophyGroups": true, "definedTrophies":
        {"bronze": 19, "silver": 20, "gold": 4, "platinum": 1}, "progress": 0, "earnedTrophies":
        {"bronze": 0, "silver": 0, "gold": 0, "platinum": 0}, "hiddenFl[...]
