interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=ac8d161a-d966-4728-b0ea-ffec22f69edc&scope=psn%3Aclientapp+psn%3Amobile.v1&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v3.bLLN13&cid=6b0b9519-4c24-4aaf-ab04-10822a8ad75a
      X-CorrelationId:
      - 6b0b9519-4c24-4aaf-ab04-10822a8ad75a
      X-Psn-Correlation-Id:
      - 6b0b9519-4c24-4aaf-ab04-10822a8ad75a
      X-Psn-Request-Id:
      - a47123e28e37d28c4c949761d7d32729
      X-RequestId:
      - a47123e28e37d28c4c949761d7d32729
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 4526fc19-162e-4863-885c-2c45744ee9e9
      X-Psn-Correlation-Id:
      - 4526fc19-162e-4863-885c-2c45744ee9e9
      X-Psn-Request-Id:
      - 15f3f55e0ffe1ccd47af6f9dc91524e1
      X-RequestId:
      - 15f3f55e0ffe1ccd47af6f9dc91524e1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://m.np.playstation.net/api/userProfile/v1/internal/users/me/friends?limit=1000
  response:
    body:
      string: '{"friends": ["8520698476712646544"], "totalItemCount": 1}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0902440765590776624
    status:
      code: 200
      message: OK
version: 1
