interactions:
- request:
    body: grant_type=refresh_token&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183997}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - dc71c358-c909-4032-bc20-7dcabda0f712
      X-Psn-Correlation-Id:
      - dc71c358-c909-4032-bc20-7dcabda0f712
      X-Psn-Request-Id:
      - e7aee7f15a46b8cbcaa1cf4f404f2604
      X-RequestId:
      - e7aee7f15a46b8cbcaa1cf4f404f2604
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dms.api.playstation.com/api/v1/devices/accounts/me
  response:
    body:
      string: '{"accountId": "2721516955383551246"}'
    headers:
      Content-Type:
      - application/json
      X-CorrelationId:
      - ef5bde1f-99bb-44ba-8e71-1ad4118dc732
      X-Psn-Correlation-Id:
      - ef5bde1f-99bb-44ba-8e71-1ad4118dc732
      X-Psn-Request-Id:
      - ef5bde1f-99bb-44ba-8e71-1ad4118dc732
      X-RequestId:
      - ef5bde1f-99bb-44ba-8e71-1ad4118dc732
    status:
      code: 200
      message: OK
version: 1
