interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=ac8d161a-d966-4728-b0ea-ffec22f69edc&scope=psn%3Aclientapp+psn%3Amobile.v1&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v3.dt0kNa&cid=6b7ffc0d-d9a5-4fa1-a91e-400dd91e3fac
      X-CorrelationId:
      - 6b7ffc0d-d9a5-4fa1-a91e-400dd91e3fac
      X-Psn-Correlation-Id:
      - 6b7ffc0d-d9a5-4fa1-a91e-400dd91e3fac
      X-Psn-Request-Id:
      - 3203cb1ebda2da9dab56d83331e998bf
      X-RequestId:
      - 3203cb1ebda2da9dab56d83331e998bf
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 5f1e99d5-2ec3-4b70-b510-bb1831c571f0
      X-Psn-Correlation-Id:
      - 5f1e99d5-2ec3-4b70-b510-bb1831c571f0
      X-Psn-Request-Id:
      - ca0b6e533f221c390140a87a152b692e
      X-RequestId:
      - ca0b6e533f221c390140a87a152b692e
    status:
      code: 200
      message: OK
version: 1
