interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/6515971742264256071/titles/trophyTitles?npTitleIds=SSSA01325_00%2C
  response:
    body:
      string: '{"error": {"referenceId": "faf15d8f-73aa-11ed-9ea2-49fbcb3d774f", "code":
        2240525, "message": "Resource not found (npTitleId=''SSSA01325_00'')"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
