interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/kerksten/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "kerksten", "accountId": "6074310610488045645"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/6074310610488045645/npCommunicationIds/NPWR15509_00/trophyGroups/default/trophies?npServiceName=trophy&limit=10&offset=0
  response:
    body:
      string: '{"trophySetVersion": "01.07", "hasTrophyGroups": true, "lastUpdatedDateTime":
        "2021-07-27T22:31:14Z", "trophies": [{"trophyId": 0, "trophyHidden": false,
        "earned": false, "trophyType": "platinum", "trophyRare": 0, "trophyEarnedRate":
        "1.0"}, {"trophyId": 1, "trophyHidden": false, "earned": true, "earnedDateTime":
        "2020-05-26T19:37:00Z", "trophyType": "bronze", "trophyRare": 3, "trophyEarnedRate":
        "83.8"}, {"trophyId": 2, "trophyHidden": false, "earned": true, "earnedDateTime":
        "2021-02-25T22:42:09Z", "trophyType": "bronze", "trophyRare": 2, "trophyEarnedRate":
        "49.1"}, {"trophyId": 3, "trophyHidden": false, "earned": true, "earnedDateTime":
        "2020-10-25T22:31:44Z", "trophyType": "bronze", "trophyRare": 2, "trophyEarnedRate":
        "35.4"}, {"trophyId": 4, "trophyHidden": false, "earned": true, "earnedDateTime":
        "2021-02-25T22:56:07Z", "trophyType": "bronze", "trophyRare": 2, "trophyEarnedRate":
        "43.2"}, {"trophyId": 5, "trophyHidden": false, "earned": false, "trophyType":
        "silver", "trophyRare": 2, "trophyEarnedRate": "22.7"}, {"trophyId": 6, "trophyHidden":
        false, "earned": false, "trophyType": "bronze", "trophyRare": 1, "trophyEarnedRate":
        "10.7"}, {"trophyId": 7, "trophyHidden": false, "earned": false, "trophyType":
        "silver", "trophyRare": 0, "trophyEarnedRate": "4.5"}, {"trophyId": 8, "trophyHidden":
        false, "earned": false, "trophyType": "silver", "trophyRare": 1, "trophyEarnedRate":
        "13.4"}, {"trophyId": 9, "trophyHidden": false, "earned": false, "trophyType":
        "bronze", "trophyRare": 1, "trophyEarnedRate": "10.9"}], "rarestTrophies":
        [{"trophyId": 41, "trophyHidden": false, "earned": true, "earnedDateTime":
        "2020-10-22T16:12:41Z", "trophyType": "bronze", "trophyRare": 0, "trophyEarnedRate":
        "3.8"}], "nextOffset": 10, "totalItemCount": 51}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
