interactions:
- request:
    body: grant_type=refresh_token&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183996}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 7c0b12fd-9ca8-4eff-bc25-f4029058213a
      X-Psn-Correlation-Id:
      - 7c0b12fd-9ca8-4eff-bc25-f4029058213a
      X-Psn-Request-Id:
      - c189e6e7821f36bd442938b372429904
      X-RequestId:
      - c189e6e7821f36bd442938b372429904
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://m.np.playstation.net/api/userProfile/v1/internal/users/me/blocks
  response:
    body:
      string: '{"blockList": []}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0640814941487202873
    status:
      code: 200
      message: OK
version: 1
