interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/0000000000000000000/profiles
  response:
    body:
      string: '{"error": {"referenceId": "7d3cb4d7-0f52-11ef-a647-d3f3f0b89881", "code":
        2281473, "message": "Bad Request (path: accountId)"}}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0596439427701806215
    status:
      code: 400
      message: Bad Request
version: 1
