interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups?includeFields=members&limit=1&offset=0
  response:
    body:
      string: '{"groups": [{"groupId": "a6b980e78a6365af5eb253dbedd5aa5efa29d1b3-884",
        "groupType": 1, "members": [{"accountId": "2721516955383551246", "onlineId":
        "VaultTec-Co"}, {"accountId": "8520698476712646544", "onlineId": "VaultTec_Trading"}]}],
        "previousOffset": 0, "nextOffset": 1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/a6b980e78a6365af5eb253dbedd5aa5efa29d1b3-884?includeFields=groupName%2CgroupIcon%2Cmembers%2CmainThread%2CjoinedTimestamp%2CmodifiedTimestamp%2CisFavorite%2CexistsNewArrival%2CpartySessions%2CnotificationSetting
  response:
    body:
      string: '{"groupId": "a6b980e78a6365af5eb253dbedd5aa5efa29d1b3-884", "groupType":
        1, "modifiedTimestamp": "1669621370259", "groupName": {"value": "Testing API",
        "status": 1, "modifier": {"accountId": "8520698476712646544", "onlineId":
        "VaultTec_Trading"}, "modifiedTimestamp": "1669621370000"}, "groupIcon": {"status":
        0}, "joinedTimestamp": "1669621369000", "isFavorite": false, "existsNewArrival":
        false, "mainThread": {"threadId": "a6b980e78a6365af5eb253dbedd5aa5efa29d1b3-884",
        "modifiedTimestamp": "1669621370259", "latestMessage": {"messageUid": "1#427423070786464",
        "messageType": 2003, "alternativeMessageType": 2001, "body": "VaultTec TradingCo
        changed the group name.", "createdTimestamp": "1669621370259", "sender": {"accountId":
        "8520698476712646544", "onlineId": "VaultTec_Trading"}}, "readMessageUid":
        "1#427423070786464"}, "members": [{"accountId": "2721516955383551246", "onlineId":
        "VaultTec-Co", "role": "member"}, {"accountId": "8520698476712646544", "onlineId":
        "VaultTec_Trading", "role": "owner"}], "partySessions": [], "notificationSetting":
        {"isMute": false}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: DELETE
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/a6b980e78a6365af5eb253dbedd5aa5efa29d1b3-884/members/me
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
