interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/test/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "test", "accountId": "8859462586603699392"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/8859462586603699392/friends?limit=1000
  response:
    body:
      string: '{"error": {"referenceId": "11dd864e-1bac-11ef-86a2-4b3e6f0ae0de", "code":
        2281486, "message": "Not permitted by access control"}}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0802866411160168934
    status:
      code: 403
      message: Forbidden
version: 1
