interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamelist/v2/users/me/titles?categories=ps4_game%2Cps5_native_game&limit=500&offset=0
  response:
    body:
      string: '{"titles": [], "nextOffset": null, "previousOffset": 0, "totalItemCount":
        0}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Correlation-Id:
      - 6c89da87-6230-1031-baeb-fe275f8c1ac7
      X-Psn-Request-Id:
      - 6c89da87-6230-1031-baea-fe275f8c1ac7
    status:
      code: 200
      message: OK
version: 1
