interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=ac8d161a-d966-4728-b0ea-ffec22f69edc&scope=psn%3Aclientapp+psn%3Amobile.v1&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v3.LVjXn4&cid=069ebe36-5792-446b-9805-bd1397d0a987
      X-CorrelationId:
      - 069ebe36-5792-446b-9805-bd1397d0a987
      X-Psn-Correlation-Id:
      - 069ebe36-5792-446b-9805-bd1397d0a987
      X-Psn-Request-Id:
      - 22c8abc9a7887e478c0c2d606592f973
      X-RequestId:
      - 22c8abc9a7887e478c0c2d606592f973
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - da07e3f1-1745-4b08-b61e-16444646d7ab
      X-Psn-Correlation-Id:
      - da07e3f1-1745-4b08-b61e-16444646d7ab
      X-Psn-Request-Id:
      - bf2a556773985b18688f096db552783a
      X-RequestId:
      - bf2a556773985b18688f096db552783a
    status:
      code: 200
      message: OK
version: 1
