interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups?includeFields=members&limit=10&offset=0
  response:
    body:
      string: '{"groups": [{"groupId": "~217D2804AA75D3CE.763F9A1EB6AB5790", "groupType":
        0, "members": [{"accountId": "8520698476712646544", "onlineId": "VaultTec_Trading"},
        {"accountId": "2413128975845282766", "onlineId": "casual_AF88"}]}, {"groupId":
        "~26127C2A21D125EA.763F9A1EB6AB5790", "groupType": 0, "members": [{"accountId":
        "2743391643419878890", "onlineId": "Tripwire4oscar"}, {"accountId": "8520698476712646544",
        "onlineId": "VaultTec_Trading"}]}, {"groupId": "~115C989AEC72A790.763F9A1EB6AB5790",
        "groupType": 0, "members": [{"accountId": "1251042587661477776", "onlineId":
        "Dante154"}, {"acc[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/~217D2804AA75D3CE.763F9A1EB6AB5790?includeFields=groupName%2CgroupIcon%2Cmembers%2CmainThread%2CjoinedTimestamp%2CmodifiedTimestamp%2CisFavorite%2CexistsNewArrival%2CpartySessions%2CnotificationSetting
  response:
    body:
      string: '{"groupId": "~217D2804AA75D3CE.763F9A1EB6AB5790", "groupType": 0, "modifiedTimestamp":
        "1669573214798", "groupName": {"value": "", "status": 0}, "groupIcon": {"status":
        0}, "joinedTimestamp": "1669573214000", "isFavorite": false, "existsNewArrival":
        false, "mainThread": {"threadId": "~217D2804AA75D3CE.763F9A1EB6AB5790", "modifiedTimestamp":
        "1669573214798", "latestMessage": {"messageUid": "1#427410742988310", "messageType":
        1, "alternativeMessageType": 1, "body": "Your verification code is 647798.
        Please do not share this with anyone.", "createdTimestamp": "1669573214798",
        "sender": {"accountId": "8520698476712646544", "onlineId": "VaultTec_Trading"}},
        "readMessageUid": "1#427410742988310"}, "members": [{"accountId": "8520698476712646544",
        "onlineId": "VaultTec_Trading"}, {"accountId": "2413128975845282766", "onlineId":
        "casual_AF88"}], "partySessions": [], "notificationSetting": {"isMute": false}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
