interactions:
- request:
    body: '{"searchTerm": "GTA", "domainRequests": [{"domain": "ConceptGameMobileApp",
      "pagination": {"cursor": "", "pageSize": 1}, "featureFlags": {"isSpartacusEnabled":
      true}}], "countryCode": "us", "languageCode": "en", "age": 99}'
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: POST
    uri: https://m.np.playstation.com/api/search/v1/universalSearch
  response:
    body:
      string: '{"error": {"referenceId": "13c30796-75db-4ead-b214-721803d196d6", "code":
        3415813, "message": "JSON parse error: Cannot construct instance of `com.sony.sie.kamaji.search.universal.model.openapi.SearchDomain`,
        problem: Unexpected value ''ConceptGameMobileApp''; nested exception is com.fasterxml.jackson.databind.exc.ValueInstantiationException:
        Cannot construct instance of `com.sony.sie.kamaji.search.universal.model.openapi.SearchDomain`,
        problem: Unexpected value ''ConceptGameMobileApp''\n at [Source: (org.springframework.util.StreamUtils$NonClosingInputStream);
        line: 1, column: 53] (through reference chain: com.sony.sie.kamaji.search.universal.model.openapi.UniversalSearchRequest[\"domainRequests\"]->java.util.ArrayList[0]->com.sony.sie.kamaji.search.universal.model.openapi.SearchDomainRequest[\"domain\"])",
        "reason": "invalid_parameter", "source": "api"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
