interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=ac8d161a-d966-4728-b0ea-ffec22f69edc&scope=psn%3Aclientapp+psn%3Amobile.v1&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v3.lV9aA7&cid=479013b3-13e5-440a-bf9c-fc06c122f73a
      X-CorrelationId:
      - 479013b3-13e5-440a-bf9c-fc06c122f73a
      X-Psn-Correlation-Id:
      - 479013b3-13e5-440a-bf9c-fc06c122f73a
      X-Psn-Request-Id:
      - 35ae3be82b33036fc252e40b49505c50
      X-RequestId:
      - 35ae3be82b33036fc252e40b49505c50
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - e0cba316-f2dc-44c1-a975-9d6e604dd6d3
      X-Psn-Correlation-Id:
      - e0cba316-f2dc-44c1-a975-9d6e604dd6d3
      X-Psn-Request-Id:
      - 2df2c1a894ebe67cda4c338e1695a3eb
      X-RequestId:
      - 2df2c1a894ebe67cda4c338e1695a3eb
    status:
      code: 200
      message: OK
version: 1
