interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/jeranther/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "jeranther", "accountId": "1802043923080044300"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/1802043923080044300/npCommunicationIds/NPWR15509_00/trophyGroups/default/trophies?npServiceName=trophy&limit=10&offset=0
  response:
    body:
      string: '{"trophySetVersion": "01.07", "hasTrophyGroups": true, "lastUpdatedDateTime":
        "2020-11-28T22:55:19Z", "trophies": [{"trophyId": 0, "trophyHidden": false,
        "earned": true, "earnedDateTime": "2020-11-22T17:51:30Z", "trophyType": "platinum",
        "trophyRare": 0, "trophyEarnedRate": "1.0"}, {"trophyId": 1, "trophyHidden":
        false, "earned": true, "earnedDateTime": "2018-11-14T06:13:04Z", "trophyType":
        "bronze", "trophyRare": 3, "trophyEarnedRate": "83.8"}, {"trophyId": 2, "trophyHidden":
        false, "earned": true, "earnedDateTime": "2018-11-14T06:44:08Z", "trophyType":
        "bronze", "trophyRare": 2, "trophyEarnedRate": "49.0"}, {"trophyId": 3, "trophyHidden":
        false, "earned": true, "earnedDateTime": "2018-11-15T11:12:08Z", "trophyType":
      [...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/npCommunicationIds/NPWR15509_00/trophyGroups/default/trophies?npServiceName=trophy&limit=10&offset=0
  response:
    body:
      string: '{"trophySetVersion": "01.07", "hasTrophyGroups": true, "trophies":
        [{"trophyId": 0, "trophyHidden": false, "trophyType": "platinum", "trophyName":
        "Platinum Trophy", "trophyDetail": "Collect all other 50 Trophies for this
        Trophy", "trophyIconUrl": "https://image.api.playstation.com/trophy/np/NPWR15509_00_00FEDEFDF75690C37D4051FC8F80462BB7C362282B/FDEA5B4032CA08AAF3C305EDFEBAA7CA11B8FA72.PNG",
        "trophyGroupId": "default"}, {"trophyId": 1, "trophyHidden": false, "trophyType":
        "bronze", "trophyName": "Reclamation Day!", "trophyDetail": "Leave Vault 76",
        "trophyIconUrl": "https://image.api.playstation.com/trophy/np/NPWR15509_00_00FEDEFDF75690C37D4051FC8F80462BB7C362282B/E357837D8A934CCAD921E371EF66F39445CED7F8.PNG",
        "trophyGroupId": "default"}, {"trophyId": 2, "trophyHidden": false, "trophyType":
        "bronze", "trophyName": "First Contact", "trophyDetail": "Complete \"First
  [...]
[...]
