interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamelist/v2/users/me/titles?categories=ps4_game%2Cps5_native_game&limit=100&offset=0
  response:
    body:
      string: '{"titles": [{"titleId": "PPSA08330_00", "name": "God of War Ragnar\u00f6k",
        "localizedName": "God of War Ragnar\u00f6k", "imageUrl": "https://image.api.playstation.com/vulcan/ap/rnd/202109/2821/KkIiB8w4CBvZspu6zyzOza3p.png",
        "localizedImageUrl": "https://image.api.playstation.com/vulcan/ap/rnd/202109/2821/KkIiB8w4CBvZspu6zyzOza3p.png",
        "category": "ps5_native_game", "service": "other", "playCount": 48, "concept":
        {"id": 10001850, "titleIds": ["CUSA34357_00", "CUSA34384_00", "CUSA34605_00",
        "CUSA34603_00", "PPSA08330_00", "CUSA25471_00", "CUSA34390_00", "PPSA08332_00",
        "PPSA08334_00", "CUSA34395_00", "CUSA31680_00", "CUSA34393_00", "CUSA31678_00",
        "PPSA08329_00", "CUSA25469_00", "CUSA34256_00", "CUSA34388_00", "CUSA34386_00",
        "CUSA34258_00", "CUSA34385_00", "CUSA34604_00", "CUSA25470_00", "CUSA34391_00",
        "PPSA08331_00", "PPSA08333_00", "CUSA34394_00", "CUSA31681_00", "CUSA34392_00",
        "CUSA31679_00", "CUSA34257_00", "CUSA34389_00", "CUSA34387_00", "CUSA25468_00",
        "CUSA34259_00"], "name": "God of War Ragnar\u00f6k", "media": {"audios": [],
        "videos": [], "images": [{"url": "https://image.api.playstation.com/vulcan/ap/rnd/202109/2821/MDlvcrTdFOQvwUUzpm8YupI8.jpg",
        "format": "UNKNOWN", "type": "BACKGROUND_LAYER_ART"}, {"url": "https://image.api.playstation.com/vulcan/ap/rnd/202109/2821/a0DyIs2SEHrYpciM1ideU1wv.jpg",
        "format": "UNKNOWN", "type": "FOUR_BY_THREE_BANNER"}, {"url": "https://image.api.playstation.com/vulcan/ap/rnd/202109/2821/LK1BOGkl8D9asemyQTPNAp69.jpg",
        "format": "UNKNOWN", "type": "GAMEHUB_COVER_ART"}, {"url": "https://image.api.playstation.com/vulcan/ap/rnd/202109/2821/KETQoN98jJjcRvpAoGekxAPP.png",
        "format": "UNKNOWN", "type": "HERO_CHARACTER"}, {"url": "https://image.api.playstation.com/vulcan/ap/rnd/202109/2821/sdHqHqIaRANCLr7CPEq8pWFo.png",
        "format": "UNKNOWN", "type": "LOGO"}, {"url": "https://image.api.playstation.com/vulcan/ap/rnd/202109/2821/SZRc7OMwGgv8lJXIOlYyuBU2.jpg",
        "format": "UNKNOWN", "type": "PORTRAIT_BANNER"}, {"url": "https://image.api.playstation.com/vulcan/ap/rnd/202109/2821/KkIiB8w4CBvZspu6zyzOza3p.png",
        "format": "UNKNOWN", "type": "MASTER"}]}, "genres": ["ACTION"], "localizedName":
        {"defaultLanguage": "en-US", "metadata": {"ar-AE": "God of War \u0631\u0627\u063a\u0646\u0631\u0648\u0643",
        "da-DK": "God of War Ragnar\u00f6k", "de-DE": "God of War Ragnar\u00f6k",
        "en-GB": "God of War Ragnar\u00f6k", "en-US": "God of War Ragnar\u00f6k",
        "es-419": "God of War Ragnar\u00f6k", "es-ES": "God of War Ragnar\u00f6k",
        "fi-FI": "God of War Ragnar\u00f6k", "fr-CA": "God of War Ragnar\u00f6k",
        "fr-FR": "God of War Ragnar\u00f6k", "it-IT": "God of War Ragnar\u00f6k",
        "ja-JP": "\u30b4\u30c3\u30c9\u30fb\u30aa\u30d6\u30fb\u30a6\u30a9\u30fc \u30e9\u30b0\u30ca\u30ed\u30af",
        "ko-KR": "God of War Ragnar\u00f6k", "nl-NL": "God of War Ragnar\u00f6k",
        "no-NO": "God of War Ragnar\u00f6k", "pl-PL": "God of War Ragnar\u00f6k",
        "pt-BR": "God of War Ragnar\u00f6k", "pt-PT": "God of War Ragnar\u00f6k",
        "ru-RU": "God of War Ragnar\u00f6k", "sv-SE": "God of War Ragnar\u00f6k",
        "tr-TR": "God of War Ragnar\u00f6k", "uk-UA": "God of War Ragnar\u00f6k",
        "zh-Hans": "God of War Ragnar\u00f6k", "zh-Hant": "God of War Ragnar\u00f6k"}},
        "country": "US", "language": "en"}, "media": {"audios": [], "videos": [],
        "images": [{"url": "https://image.api.playstation.com/vulcan/ap/rnd/202109/2821/MDlvcrTdFOQvwUUzpm8YupI8.jpg",
        "format": "UNKNOWN", "type": "BACKGROUND_LAYER_ART"}, {"url": "https://image.api.playstation.com/vulcan/ap/rnd/202109/2821/a0DyIs2SEHrYpciM1ideU1wv.jpg",
        "format": "UNKNOWN", "type": "FOUR_BY_THREE_BANNER"}, {"url": "https://image.api.playstation.com/vulcan/ap/rnd/202109/2821/LK1BOGkl8D9asemyQTPNAp69.jpg",
        "format": "UNKNOWN", "type": "GAMEHUB_COVER_ART"}, {"url": "https://image.api.playstation.com/vulcan/ap/rnd/202109/2821/KETQoN98jJjcRvpAoGekxAPP.png",
        "format": "UNKNOWN", "type": "HERO_CHARACTER"}, {"url": "https://image.api.playstation.com/vulcan/ap/rnd/202109/2821/sdHqHqIaRANCLr7CPEq8pWFo.png",
        "format": "UNKNOWN", "type": "LOGO"}, {"url": "https://image.api.playstation.com/vulcan/ap/rnd/202109/2821/SZRc7OMwGgv8lJXIOlYyuBU2.jpg",
        "format": "UNKNOWN", "type": "PORTRAIT_BANNER"}, {"url": "https://image.api.playstation.com/vulcan/ap/rnd/202109/2821/KkIiB8w4CBvZspu6zyzOza3p.png",
        "format": "UNKNOWN", "type": "MASTER"}]}, "firstPlayedDateTime": "2022-11-09T07:21:10.120000Z",
        "lastPlayedDateTime": "2022-12-12T07:52:34.200000Z", "playDuration": "PT46H24M50S"},
        {"titleId": "CUSA01433_00", "name": "Rocket League\u00ae", "localizedName":
        "Rocket League\u00ae", "imageUrl": "https://image.api.playstation.com/vulcan/ap/rnd/202211/1900/WwXQmYTM3fvSRSvVzVbrnmdD.png",
        "localizedImageUrl": "https://image.api.playstation.com/vulcan/ap/rnd/202211/1900/WwXQmYTM3fvSRSvVzVbrnmdD.png",
        "category": "ps4_game", "service": "none(purchased)", "playCount": 343, "concept":
        {"id": 203715, "titleIds": ["CUSA02837_00", [...]
