interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=ac8d161a-d966-4728-b0ea-ffec22f69edc&scope=psn%3Aclientapp+psn%3Amobile.v1&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v3.Sfcj4a&cid=5058f715-90c4-40c7-9f4a-c11109da95cc
      X-CorrelationId:
      - 5058f715-90c4-40c7-9f4a-c11109da95cc
      X-Psn-Correlation-Id:
      - 5058f715-90c4-40c7-9f4a-c11109da95cc
      X-Psn-Request-Id:
      - 3fad2c7c7a4f2705165f959a5b91b8a7
      X-RequestId:
      - 3fad2c7c7a4f2705165f959a5b91b8a7
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - ee0fc8ef-607b-4736-bde1-cb974a07671f
      X-Psn-Correlation-Id:
      - ee0fc8ef-607b-4736-bde1-cb974a07671f
      X-Psn-Request-Id:
      - 6783ae8a9b14bd7d7f93203df645dd0f
      X-RequestId:
      - 6783ae8a9b14bd7d7f93203df645dd0f
    status:
      code: 200
      message: OK
version: 1
