interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamelist/v2/users/me/titles?limit=200&offset=0
  response:
    body:
      string: '{"titles": [], "nextOffset": null, "previousOffset": 0, "totalItemCount":
        0}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Correlation-Id:
      - 0f0d6174-80b8-1031-943f-2effbc96c4a7
      X-Psn-Request-Id:
      - 0f0d6174-80b8-1031-9440-2effbc96c4a7
    status:
      code: 200
      message: OK
version: 1
