interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/VaultTec-Co/profiles
  response:
    body:
      string: '{"error": {"referenceId": "ffe0c2de-15ad-11ef-b721-fb41b24862eb", "code":
        2281473, "message": "Bad Request (path: accountId)"}}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0147504633030929672
    status:
      code: 400
      message: Bad Request
version: 1
