interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=ac8d161a-d966-4728-b0ea-ffec22f69edc&scope=psn%3Aclientapp+psn%3Amobile.v1&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v3.ruKv8j&cid=5e8b5261-97da-42c0-804c-dc633bc1704b
      X-CorrelationId:
      - 5e8b5261-97da-42c0-804c-dc633bc1704b
      X-Psn-Correlation-Id:
      - 5e8b5261-97da-42c0-804c-dc633bc1704b
      X-Psn-Request-Id:
      - 1ceee85a455f7b26b146c53df6501978
      X-RequestId:
      - 1ceee85a455f7b26b146c53df6501978
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 89971019-876c-462d-86f0-04e9dbce2d6b
      X-Psn-Correlation-Id:
      - 89971019-876c-462d-86f0-04e9dbce2d6b
      X-Psn-Request-Id:
      - d4b6649e95540317930f6fb81e2434d0
      X-RequestId:
      - d4b6649e95540317930f6fb81e2434d0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://m.np.playstation.net/api/userProfile/v1/internal/users/me/blocks
  response:
    body:
      string: '{"blockList": []}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0673437159674504198
    status:
      code: 200
      message: OK
version: 1
