interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=ac8d161a-d966-4728-b0ea-ffec22f69edc&scope=psn%3Aclientapp+psn%3Amobile.v1&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v3.VF87aL&cid=03a9b6f9-869b-48dd-b0c7-fcd3e0afda2b
      X-CorrelationId:
      - 03a9b6f9-869b-48dd-b0c7-fcd3e0afda2b
      X-Psn-Correlation-Id:
      - 03a9b6f9-869b-48dd-b0c7-fcd3e0afda2b
      X-Psn-Request-Id:
      - 4d31472be198e394d85661c98eeab767
      X-RequestId:
      - 4d31472be198e394d85661c98eeab767
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 8c4deff7-e64d-486d-8963-99c3cc1f87c5
      X-Psn-Correlation-Id:
      - 8c4deff7-e64d-486d-8963-99c3cc1f87c5
      X-Psn-Request-Id:
      - c2e6f9aef409997a6415229410437969
      X-RequestId:
      - c2e6f9aef409997a6415229410437969
    status:
      code: 200
      message: OK
version: 1
