interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/jeranther/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "jeranther", "accountId": "1802043923080044300"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/1802043923080044300/npCommunicationIds/NPWR15509_00/trophyGroups?npServiceName=trophy
  response:
    body:
      string: '{"trophySetVersion": "01.07", "hiddenFlag": false, "progress": 77,
        "earnedTrophies": {"bronze": 38, "silver": 15, "gold": 1, "platinum": 1},
        "lastUpdatedDateTime": "2020-11-28T22:55:19Z", "trophyGroups": [{"trophyGroupId":
        "default", "progress": 100, "earnedTrophies": {"bronze": 34, "silver": 15,
        "gold": 1, "platinum": 1}, "lastUpdatedDateTime": "2020-11-22T17:51:30Z"},
        {"trophyGroupId": "001", "progress": 30, "earnedTrophies": {"bronze": 4, "silver":
        0, "gold": 0, "platinum": 0}, "lastUpdatedDateTime": "2020-11-28T22:55:16Z"},
        {"trophyGroupId": "002", "progress": 0, "earnedTrophies": {"bronze": 0, "silver":
        0, "gold": 0, "platinum": 0}}, {"trophyGroupId": "003", "progress": 0, "earnedTrophies":
        {"bronze": 0, "silver": 0, "gold": 0, "platinum": 0}}, {"trophyGroupId": "004",
        "progress": 0, "earnedTrophies": {"bronze": 0, "silver": 0, "gold": 0, "platinum":
        0}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/npCommunicationIds/NPWR15509_00/trophyGroups?npServiceName=trophy
  response:
    body:
      string: '{"npServiceName": "trophy", "npCommunicationId": "NPWR15509_00", "trophySetVersion":
        "01.07", "trophyTitleName": "Fallout 76", "trophyTitleDetail": "Fallout 76",
        "trophyTitleIconUrl": "https://image.api.playstation.com/trophy/np/NPWR15509_00_00FEDEFDF75690C37D4051FC8F80462BB7C362282B/A4D94FEACEEE402B1FFF2742BB5F6E5A3DA1C26C.PNG",
        "trophyTitlePlatform": "PS4", "definedTrophies": {"bronze": 53, "silver":
        18, "gold": 1, "platinum": 1}, "trophyGroups": [{"trophyGroupId": "default",
        "trophyGroupName": "Fallout 76", "trophyGroupDetail": "Fallout 76", "trophyGroupIconUrl":
        "https://image.api.playstation.com/trophy/np/NPWR15509_00_00FEDEFDF75690C37D4051FC8F80462BB7C362282B/A4D94FEACEEE402B1FFF2742BB5F6E5A3DA1C26C.PNG",
        "definedTrophies": {"bronze": 34, "silver": 15, "gold": 1, "platinum": 1}},
        {"trophyGroupId": "001", "trophyGroupName": "Wastelanders", "trophyGroupDetail":
        "Wastelanders", "trophyGroupIconUrl": "https://image.api.playstation.com/trophy/np/NPWR15509_00_00FEDEFDF75690C37D4051FC8F80462BB7C362282B/55E3C78AABD34ED96A44147[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/1802043923080044300/npCommunicationIds/NPWR15509_00/trophyGroups?npServiceName=trophy
  response:
    body:
      string: '{"trophySetVersion": "01.07", "hiddenFlag": false, "progress": 77,
        "earnedTrophies": {"bronze": 38, "silver": 15, "gold": 1, "platinum": 1},
        "lastUpdatedDateTime": "2020-11-28T22:55:19Z", "trophyGroups": [{"trophyGroupId":
        "default", "progress": 100, "earnedTrophies": {"bronze": 34, "silver": 15,
        "gold": 1, "platinum": 1}, "lastUpdatedDateTime": "2020-11-22T17:51:30Z"},
        {"trophyGroupId": "001", "progress": 30, "earnedTrophies": {"bronze": 4, "silver":
        0, "gold": 0, "platinum": 0}, "lastUpdatedDateTime": "2020-11-28T22:55:16Z"},
        {"trophyGroupId": "002", "progress": 0, "earnedTrophies": {"bronze": 0, "silver":
        0, "gold": 0, "platinum": 0}}, {"trophyGroupId": "003", "progress": 0, "earnedTrophies":
        {"bronze": 0, "silver": 0, "gold": 0, "platinum": 0}}, {"trophyGroupId": "004",
        "progress": 0, "earnedTrophies": {"bronze": 0, "silver": 0, "gold": 0, "platinum":
        0}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
