interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/DaUglyDucklin/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "DaUglyDucklin", "accountId": "4273405838384737823"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/4273405838384737823/friends?limit=1000
  response:
    body:
      string: '{"friends": ["5932194992272632691", "2666610186397955845", "2721516955383551246",
        "8505573651542642238", "5983246684295941747", "2994643833237456828", "5594422286271199798",
        "5091312168863442883", "908336233658004245", "2329975446925156225", "6829512673573790412",
        "4285429808784516502", "8520698476712646544", "7941078426518993783", "7152300875508467204",
        "269536427043768482", "8454137011528974809", "3758584507309263577", "7623967659434469816",
        "4245778611217452027", "7076886024223872674", "3855026314993954386", "4209237500541868520",
        "1719827296429968297", "1025314706737047541", "503150331687993197", "1314132741914646932",
        "5463295955197621030", "5014000236667516733", "1384699270557478028", "5078126322523467987",
        "5592976952987898384", "4868522296909452214", "118057306969629465", "6138853792837939342",
        "8627582381409863169"], "totalItemCount": 36}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0172828109627054171
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/5932194992272632691/profiles
  response:
    body:
      string: '{"onlineId": "tonybrand2011", "aboutMe": "", "avatars": [{"size": "s",
        "url": "http://static-resource.np.community.playstation.net/avatar_s/WWS_J/J2059_s.png"},
        {"size": "xl", "url": "http://static-resource.np.community.playstation.net/avatar_xl/WWS_J/J2059_xl.png"},
        {"size": "l", "url": "http://static-resource.np.community.playstation.net/avatar/WWS_J/J2059_l.png"},
        {"size": "m", "url": "http://static-resource.np.community.playstation.net/avatar_m/WWS_J/J2059_m.png"}],
        "languages": ["en-US"], "isPlus": true, "isOfficiallyVerified": false, "isMe":
        false}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0818964209943685645
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/2721516955383551246/profiles
  response:
    body:
      string: '{"onlineId": "VaultTec-Co", "personalDetail": {"firstName": "VaultTec",
        "lastName": "BlacklistBot", "profilePictures": [{"size": "s", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=50&h=50&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F2721516955383551246%2F1616355099647.png&sign=7e3003da6a783ce92219a4e7e3d1dba5f4e4fb51"},
        {"size": "m", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=160&h=160&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F2721516955383551246%2F1616355099647.png&sign=7e3003da6a783ce92219a4e7e3d1dba5f4e4fb51"},
        {"size": "[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/8627582381409863169/profiles
  response:
    body:
      string: '{"onlineId": "Thug_sanction", "aboutMe": "Good@WhatIDo", "avatars":
        [{"size": "s", "url": "http://static-resource.np.community.playstation.net/avatar_s/WWS_J/J0050_s.png"},
        {"size": "xl", "url": "http://static-resource.np.community.playstation.net/avatar_xl/WWS_J/J0050_XL.png"},
        {"size": "l", "url": "http://static-resource.np.community.playstation.net/avatar/WWS_J/J0050.png"},
        {"size": "m", "url": "http://static-resource.np.community.playstation.net/avatar_m/WWS_J/J0050_m.png"}],
        "languages": ["en-US"], "isPlus": false, "isOfficiallyVerified": false, "isMe":
        false}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0076447257567153282
    status:
      code: 200
      message: OK
version: 1
