interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/jeranther/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "jeranther", "accountId": "1802043923080044300"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamelist/v2/users/1802043923080044300/titles?categories=ps4_game%2Cps5_native_game&limit=10&offset=0
  response:
    body:
      string: '{"titles": [{"titleId": "PPSA09016_00", "name": "Fallout 4", "localizedName":
        "Fallout 4", "imageUrl": "https://image.api.playstation.com/vulcan/ap/rnd/202009/2419/BWMVfyxONkIAlAJVQd96qPuN.png",
        "localizedImageUrl": "https://image.api.playstation.com/vulcan/ap/rnd/202009/2419/BWMVfyxONkIAlAJVQd96qPuN.png",
        "category": "ps5_native_game", "service": "ps_plus", "playCount": 16, "concept":
        {"id": 201511, "titleIds": ["CUSA03701_00", "CUSA03450_00", "PPSA09019_00",
        "CUSA02557_00", "PPSA09017_00", "CUSA03448_00", "PPSA09016_00", "CUSA02962_00",
        "CUSA03613_00", "CUSA02961_00", "PPSA09020_00"], "name": "Fallout 4", "media":
        {"audios": [], "videos": [], "images": [{"url": "https://image.api.playstation.com/vulcan/ap/rnd/202009/2500/4GZyUQ1bHTjICP6GCRG7f65n.png",
        "format": "UNKNOWN", "type": "FOUR_BY_THREE_BANNER"}, {"url": "https://image.api.playstation.com/vulcan/img/rnd/202011/0204/lFmwpBg2muGrOa4DwRCD6KZa.png",
        "format": "UNKNOWN", "type": "GAMEHUB_COVER_ART"}, {"url": "https://image.api.playstation.com/vulcan/img/rnd/202011/0203/01clRN6ENI0ULgJK5dpcm2Ox.png",
        "format": "UNKNOWN", "type": "LOGO"}, {"url": "https://image.api.playstation.com/vulcan/ap/rnd/202009/2500/D59jxQR99Jg545NKa4Nu1FmP.png",
        "format": "UNKNOWN", "type": "PORTRAIT_BANNER"}, {"url": "h[...]
[...]
