interactions:
- request:
    body: grant_type=refresh_token&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183996}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - ddf510bb-f7c0-442e-a991-5048bf2a38bd
      X-Psn-Correlation-Id:
      - ddf510bb-f7c0-442e-a991-5048bf2a38bd
      X-Psn-Request-Id:
      - 40c07702b3055d0dc2cbb1e5182ff6f4
      X-RequestId:
      - 40c07702b3055d0dc2cbb1e5182ff6f4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://m.np.playstation.net/api/userProfile/v1/internal/users/me/blocks
  response:
    body:
      string: '{"blockList": []}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0952157201808319704
    status:
      code: 200
      message: OK
version: 1
