interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups?includeFields=members&limit=10&offset=0
  response:
    body:
      string: '{"groups": [{"groupId": "~25C4C5406FD6D50E.763F9A1EB6AB5790", "groupType":
        0, "members": [{"accountId": "2721516955383551246", "onlineId": "VaultTec-Co"},
        {"accountId": "8520698476712646544", "onlineId": "VaultTec_Trading"}]}, {"groupId":
        "~1902256680D65F0C.763F9A1EB6AB5790", "groupType": 0, "members": [{"accountId":
        "8520698476712646544", "onlineId": "VaultTec_Trading"}, {"accountId": "1802043923080044300",
        "onlineId": "jeranther"}]}, {"groupId": "~544C49513186B04D.763F9A1EB6AB5790",
        "groupType": 0, "members": [{"accountId": "8520698476712646544", "onlineId":
        "VaultTec_Trading"}, {"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/~25C4C5406FD6D50E.763F9A1EB6AB5790?includeFields=groupName%2CgroupIcon%2Cmembers%2CmainThread%2CjoinedTimestamp%2CmodifiedTimestamp%2CisFavorite%2CexistsNewArrival%2CpartySessions%2CnotificationSetting
  response:
    body:
      string: '{"groupId": "~25C4C5406FD6D50E.763F9A1EB6AB5790", "groupType": 0, "modifiedTimestamp":
        "1664472313964", "groupName": {"value": "", "status": 0}, "groupIcon": {"status":
        0}, "joinedTimestamp": "1664472313000", "isFavorite": false, "existsNewArrival":
        false, "mainThread": {"threadId": "~25C4C5406FD6D50E.763F9A1EB6AB5790", "modifiedTimestamp":
        "1664472313964", "latestMessage": {"messageUid": "1#426104912374994", "messageType":
        1, "alternativeMessageType": 1, "body": "Hello World", "createdTimestamp":
        "1664472313964", "sender": {"accountId": "8520698476712646544", "onlineId":
        "VaultTec_Trading"}}, "readMessageUid": "1#426104912374994"}, "members": [{"accountId":
        "2721516955383551246", "onlineId": "VaultTec-Co"}, {"accountId": "8520698476712646544",
        "onlineId": "VaultTec_Trading"}], "partySessions": [], "notificationSetting":
        {"isMute": false}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/11fc85df9290ab5ad8fcfa70af84626619241d6e-701?includeFields=groupName%2CgroupIcon%2Cmembers%2CmainThread%2CjoinedTimestamp%2CmodifiedTimestamp%2CisFavorite%2CexistsNewArrival%2CpartySessions%2CnotificationSetting
  response:
    body:
      string: '{"groupId": "11fc85df9290ab5ad8fcfa70af84626619241d6e-701", "groupType":
        1, "modifiedTimestamp": "1664149324292", "groupName": {"value": "", "status":
        0}, "groupIcon": {"status": 0}, "joinedTimestamp": "1664141120000", "isFavorite":
        false, "existsNewArrival": false, "mainThread": {"threadId": "11fc85df9290ab5ad8fcfa70af84626619241d6e-701",
        "modifiedTimestamp": "1664149324292", "latestMessage": {"messageUid": "1#426022227018893",
        "messageType": 3, "alternativeMessageType": 1, "body": "", "createdTimestamp":
        "1664149324292", "sender": {"accountId": "1802043923080044300", "onlineId":
        "jeranther"}}, "readMessageUid": "1#426022227018893"}, "members": [{"accountId":
        "2721516955383551246", "onlineId": "VaultTec-Co", "role": "member"}, {"accountId":
        "8520698476712646544", "onlineId": "VaultTec_Trading", "role": "owner"}, {"accountId":
        "1802043923080044300", "onlineId": "jeranther", "role": "member"}], "partySessions":
        [], "notificationSetting": {"isMute": false}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/9a502141115084a3fc84d41f3c056a22fad7fe98-265?includeFields=groupName%2CgroupIcon%2Cmembers%2CmainThread%2CjoinedTimestamp%2CmodifiedTimestamp%2CisFavorite%2CexistsNewArrival%2CpartySessions%2CnotificationSetting
  response:
    body:
      string: '{"groupId": "9a502141115084a3fc84d41f3c056a22fad7fe98-265", "groupType":
        1, "modifiedTimestamp": "1662880415177", "groupName": {"value": "Discord.gg/x22
        | modz.link", "status": 1, "modifier": {"accountId": "838943543656635290",
        "onlineId": "q8lRivW1xvliE"}, "modifiedTimestamp": "1644047406000"}, "groupIcon":
        {"status": 0}, "joinedTimestamp": "1644047403000", "isFavorite": false, "existsNewArrival":
        false, "mainThread": {"threadId": "9a502141115084a3fc84d41f3c056a22fad7fe98-265",
        "modifiedTimestamp": "1662880415177", "latestMessage": {"messageUid": "1#425697386285334",
        "messageType": 2002, "alternativeMessageType": 2001, "body": "iiSOLExUFA lef[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/~002AD3544856C371.763F9A1EB6AB5790?includeFields=groupName%2CgroupIcon%2Cmembers%2CmainThread%2CjoinedTimestamp%2CmodifiedTimestamp%2CisFavorite%2CexistsNewArrival%2CpartySessions%2CnotificationSetting
  response:
    body:
      string: '{"groupId": "~002AD3544856C371.763F9A1EB6AB5790", "groupType": 0, "modifiedTimestamp":
        "1656761380650", "groupName": {"value": "", "status": 0}, "groupIcon": {"status":
        0}, "joinedTimestamp": "1620089387000", "isFavorite": false, "existsNewArrival":
        false, "mainThread": {"threadId": "~002AD3544856C371.763F9A1EB6AB5790", "modifiedTimestamp":
        "1656761380650", "latestMessage": {"messageUid": "1#424130913446533", "messageType":
        3, "alternativeMessageType": 1, "body": "", "createdTimestamp": "1656761380650",
        "sender": {"accountId": "12054307966206833", "onlineId": "niko_niner"}}, "readMessageUid":
        "1#424130913446533"}, "members": [{"accountId": "8520698476712646544", "onlineId":
        "VaultTec_Trading"}, {"accountId": "12054307966206833", "onlineId": "niko_niner"}],
        "partySessions": [], "notificationSetting": {"isMute": false}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
