interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/isFakeAccount/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "isFakeAccount", "accountId": "2066273503397112667"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"invitees": [{"accountId": "2066273503397112667"}]}'
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: POST
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups
  response:
    body:
      string: '{"error": {"referenceId": "84e72191-15ad-11ef-9720-f7ea5ba06b96", "code":
        2285696, "message": "Bad Request"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
