interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/jeranther/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "jeranther", "accountId": "1802043923080044300"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamelist/v2/users/1802043923080044300/titles?limit=200&offset=0
  response:
    body:
      string: '{"titles": [{"titleId": "PPSA09016_00", "name": "Fallout 4", "localizedName":
        "Fallout 4", "imageUrl": "https://image.api.playstation.com/vulcan/ap/rnd/202009/2419/BWMVfyxONkIAlAJVQd96qPuN.png",
        "localizedImageUrl": "https://image.api.playstation.com/vulcan/ap/rnd/202009/2419/BWMVfyxONkIAlAJVQd96qPuN.png",
        "category": "ps5_native_game", "service": "ps_plus", "playCount": 37, "concept":
        {"id": 201511, "titleIds": ["CUSA03701_00", "CUSA03450_00", "PPSA09019_00",
        "CUSA02557_00", "PPSA09017_00", "CUSA03448_00", "PPSA09016_00", "CUSA02962_00",
        "CUSA03613_00", "CUSA02961_00", "PPSA09020_00"], "name": "Fallout 4", "media":
        {"audios": [], "videos": [], "images": [{"url": "https://image.api.playstation.com/vulcan/ap/rnd/202009/2500/4GZyUQ1bHTjICP6GCRG7f65n.png",
        "format": "UNKNOWN", "type": "FOUR_BY_THREE_BANNER"}, {"url": "https://image.api.playstation.com/vulcan/img/rnd/202011/0204/lFmwpBg2muGrOa4DwRCD6KZa.png",
        "format": "UNKNOWN", "type": "GAMEHUB_COVER_ART"}, {"url": "https://image.api.playstation.com/vulcan/img/rnd/202011/0203/01clRN6ENI0ULgJK5dpcm2Ox.png",
        "format": "UNKNOWN", "type": "LOGO"}, {"url": "https://image.api.playstation.com/vulcan/ap/rnd/202009/2500/D59jxQR99Jg545NKa4Nu1FmP.png",
        "format": "UNKNOWN", "type": "PORTRAIT_BANNER"}, {"url": "h[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamelist/v2/users/1802043923080044300/titles?limit=200&offset=200
  response:
    body:
      string: '{"titles": [{"titleId": "CUSA08536_00", "name": "Snatch VR Heist Experience",
        "localizedName": "Snatch VR Heist Experience", "imageUrl": "https://image.api.playstation.com/gs2-sec/appkgo/prod/CUSA08536_00/24/i_aa7c0d93886d84c6b06848c5c4f4f7cfe05d6f21f83362e61e6a3c5f03677113/i/icon0.png",
        "localizedImageUrl": "https://image.api.playstation.com/gs2-sec/appkgo/prod/CUSA08536_00/24/i_aa7c0d93886d84c6b06848c5c4f4f7cfe05d6f21f83362e61e6a3c5f03677113/i/icon0.png",
        "category": "ps4_nongame_mini_app", "service": "none_purchased", "playCount":
        1, "concept": {"id": 230023, "titleIds": ["CUSA08536_00"], "name": "Snatch
        VR Heist Experience", "media": {"audios": [], "videos": [], "images": [{"url":
        "https://image.api.playstation.com/gs2-sec/appkgo/prod/CUSA08536_00/24/i_aa7c0d93886d84c6b06848c5c4f4f7cfe05d6f21f83362e61e6a3c5f03677113/i/pic0.png",
        "format": "UNKNOWN", "type": "GAMEHUB_COVER_ART"}, {"url": "https://image.api.playstation.com/gs2-sec/appkgo/prod/CUSA08536_00/24/i_aa7c0d93886d84c6b06848c5c4f4f7cfe05d6f21f83362e61e6a3c5f03677113/i/icon0.png",
        "format": "UNKNOWN", "type": "MASTER"}]}, "genres": [], "localizedName": {"defaultLanguage":
        "en-US", "metadata": {"en-US": "Snatch VR Heist Experience", "en-GB": "Snatch
        VR Heist Experience"}}, "country": "US", "language": "en"}, "media": {"audios":
        [], "videos": [], "images": [{"url": "https://image.api.playstation.com/gs2-sec/appkgo/prod/CUSA08536_00/24/i_aa7c0d93886d84c6b06848c5c4f4f7cfe05d6f21f83362e61e6a3c5f03677113/i/pic0.png",
        "format": "UNKNOWN", "type": "GAMEHUB_COVER_ART"}, {"url": "https://image.api.playstation.com/gs2-sec/appkgo/prod/CUSA08536_00/24/i_aa7c0d93886d84c6b06848c5c4f4f7cfe05d6f21f83362e61e6a3c5f03677113/i/icon0.png",
        "format": "UNKNOWN", "type": "MASTER"}]}, "firstPlayedDateTime": "2018-01-22T03:23:29.500000Z",
        "lastPlayedDateTime": "2018-01-22T03:23:29.500000Z", "playDuration": "PT7M36S"},
        {"titleId": "CUSA09188_00", "name": "Mutant Football League", "localizedName":
        "Mutant Football League", "imageUrl": "https://image.api.playstation.com/gs2-sec/appkgo/prod/CUSA11097_00/4/i_2ee78a603e9eaad9e7b97b88339ad99e31a51a717a6cd6c5d5c0f8d9012be9f5/i/icon0.png",
        "localizedImageUrl": "https://image.api.playstation.com/gs2-sec/appkgo/prod/CUSA11097_00/4/i_2ee78a603e9eaad9e7b97b88339ad99e31a51a717a6cd6c5d5c0f8d9012be9f5/i/icon0.png",
        "category": "ps4_game", "service": "none_purchased", "playCount": 1, "concept":
        {"id": 229210, "titleIds": ["CUSA09188_00", "CUSA13515_00", "CUSA13539_00",
        "CUSA11097_00"], "name": "Mutant Football League", "media": {"audios": [],
        "videos": [], "images": [{"url": "https://image.api.playstation.com/gs2-sec/appkgo/prod/CUSA11097_00/4/i_2ee78a603e9eaad9e7b97b88339ad99e31a51a717a6cd6c5d5c0f8d9012be9f5/i/pic0.png",
        "format": "UNKNOWN", "type": "GAMEHUB_COVER_ART"}, {"url": "https://image.api.playstation.com/gs2-sec/appkgo/prod/CUSA11097_00/4/i_2ee78a603e9eaad9e7b97b88339ad99e31a51a717a6cd6c5d5c0f8d9012be9f5/i/icon0.png",
        "format": "UNKNOWN", "type": "MASTER"}]}, "genres": ["SPORTS", "ARCADE"],
        "localizedName": {"defaultLanguage": "en-US", "metadata": {"fi-FI": "Mutant
        Football League", "uk-UA": "Mutant Football League", "de-DE": "Mutant Football
        League", "en-US": "Mutant Football League", "pt-BR": "Mutant Football League",
        "es-ES": "Mutant Football League", "ar-AE": "Mutant Football League", "no-NO":
        "Mutant Football League", "fr-CA": "Mutant Football League", "it-IT": "Mutant
        Football League", "pl-PL": "Mutant Football League", "ru-RU": "Mutant Football
        League", "nl-NL": "Mutant Football League", "pt-PT": "Mutant Football League",
        "sv-SE": "Mutant Football League", "da-DK": "Mutant Football League", "tr-TR":
        "Mutant Football League", "fr-FR": "Mutant Football League", "en-GB": "Mutant
        Football League", "es-419": "Mutant Football League"}}, "country": "US", "language":
        "en"}, "media": {"audios": [], "videos": [], "images": [{"url": "https://image.api.playstation.com/gs2-sec/appkgo/prod/CUSA11097_00/4/i_2ee78a603e9eaad9e7b97b88339ad99e31a51a717a6cd6c5d5c0f8d9012be9f5/i/pic0.png",
        "format": "UNKNOWN", "type": "GAMEHUB_COVER_ART"}, {"url": "https://image.api.playstation.com/gs2-sec/appkgo/prod/CUSA11097_00/4/i_2ee78a603e9eaad9e7b97b88339ad99e31a51a717a6cd6c5d5c0f8d9012be9f5/i/icon0.png",
  [...]
