interactions:
- request:
    body: grant_type=refresh_token&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183997}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - a59e1540-ccd6-4ac5-b6c0-39cea6223499
      X-Psn-Correlation-Id:
      - a59e1540-ccd6-4ac5-b6c0-39cea6223499
      X-Psn-Request-Id:
      - 99409611c7f4c126b978d64595b5c719
      X-RequestId:
      - 99409611c7f4c126b978d64595b5c719
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://m.np.playstation.net/api/userProfile/v1/internal/users/me/friends?limit=1000
  response:
    body:
      string: '{"friends": ["8520698476712646544"], "totalItemCount": 1}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0586185761276257340
    status:
      code: 200
      message: OK
version: 1
