interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/isFakeAccount/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "isFakeAccount", "accountId": "2066273503397112667"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/2066273503397112667/npCommunicationIds/NPWR15509_00/trophyGroups?npServiceName=trophy
  response:
    body:
      string: '{"error": {"referenceId": "07f00d9f-15ae-11ef-b602-47941dda4bf7", "code":
        2240525, "message": "Resource not found"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
