interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=ac8d161a-d966-4728-b0ea-ffec22f69edc&scope=psn%3Aclientapp+psn%3Amobile.v1&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v3.pehZDi&cid=95606c7d-212a-4c0b-8c64-fa46986286cd
      X-CorrelationId:
      - 95606c7d-212a-4c0b-8c64-fa46986286cd
      X-Psn-Correlation-Id:
      - 95606c7d-212a-4c0b-8c64-fa46986286cd
      X-Psn-Request-Id:
      - 9845bb56e9808fe27db491ab5fe62d0f
      X-RequestId:
      - 9845bb56e9808fe27db491ab5fe62d0f
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 2cb38290-a1d2-4bc6-b07a-b56926a11a35
      X-Psn-Correlation-Id:
      - 2cb38290-a1d2-4bc6-b07a-b56926a11a35
      X-Psn-Request-Id:
      - c5e01d06cf13041359ee71c421bcfb02
      X-RequestId:
      - c5e01d06cf13041359ee71c421bcfb02
    status:
      code: 200
      message: OK
version: 1
