interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
        Country:
          - US
      method: GET
      uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/~25C4C5406FD6D50E.763F9A1EB6AB5790?includeFields=groupName%2CgroupIcon%2Cmembers%2CmainThread%2CjoinedTimestamp%2CmodifiedTimestamp%2CisFavorite%2CexistsNewArrival%2CpartySessions%2CnotificationSetting
    response:
      body:
        string: '{"groupId": "~25C4C5406FD6D50E.763F9A1EB6AB5790", "groupType": 0, "modifiedTimestamp":
        "1664165338785", "groupName": {"value": "", "status": 0}, "groupIcon": {"status":
        0}, "joinedTimestamp": "1664142528000", "isFavorite": false, "existsNewArrival":
        false, "mainThread": {"threadId": "~25C4C5406FD6D50E.763F9A1EB6AB5790", "modifiedTimestamp":
        "1664165338785", "latestMessage": {"messageUid": "1#426026326728969", "messageType":
        1, "alternativeMessageType": 1, "body": "Hello World", "createdTimestamp":
        "1664165338785", "sender": {"accountId": "8520698476712646544", "onlineId":
        "VaultTec_Trading"}}, "readMessageUid": "1#426026326728969"}, "members": [{"accountId":
        "2721516955383551246", "onlineId": "VaultTec-Co"}, {"accountId": "8520698476712646544",
        "onlineId": "VaultTec_Trading"}], "partySessions": [], "notificationSetting":
        {"isMute": false}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: '{"groupName": {"value": "Testing API"}}'
      headers:
        Content-Type:
          - application/json
        Country:
          - US
      method: PATCH
      uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/~25C4C5406FD6D50E.763F9A1EB6AB5790
    response:
      body:
        string: '{"error": {"referenceId": "2c5edc0b-3d52-11ed-baca-654a60f27838", "code":
        2285696, "message": "Bad Request"}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 400
        message: Bad Request
version: 1
