interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/test/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "test", "accountId": "8859462586603699392"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/8859462586603699392/trophyTitles?limit=100&offset=0
  response:
    body:
      string: '{"error": {"referenceId": "e20b0d55-1baa-11ef-8e22-e3fa7144b18d", "code":
        2240526, "message": "Not permitted by access control"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 403
      message: Forbidden
version: 1
