interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups?includeFields=members&limit=1&offset=0
  response:
    body:
      string: '{"groups": [{"groupId": "f5ba7d11cf0164d24185a908d27d729e1847b250-188",
        "groupType": 1, "members": [{"accountId": "2721516955383551246", "onlineId":
        "VaultTec-Co"}, {"accountId": "8520698476712646544", "onlineId": "VaultTec_Trading"},
        {"accountId": "2066273503397112667", "onlineId": "isFakeAccount"}]}], "previousOffset":
        0, "nextOffset": 1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/f5ba7d11cf0164d24185a908d27d729e1847b250-188?includeFields=groupName%2CgroupIcon%2Cmembers%2CmainThread%2CjoinedTimestamp%2CmodifiedTimestamp%2CisFavorite%2CexistsNewArrival%2CpartySessions%2CnotificationSetting
  response:
    body:
      string: '{"groupId": "f5ba7d11cf0164d24185a908d27d729e1847b250-188", "groupType":
        1, "modifiedTimestamp": "1716100721484", "groupName": {"value": "Testing API",
        "status": 1, "modifier": {"accountId": "2721516955383551246", "onlineId":
        "VaultTec-Co"}, "modifiedTimestamp": "1716100721000"}, "groupIcon": {"status":
        0}, "joinedTimestamp": "1716100721000", "isFavorite": false, "existsNewArrival":
        false, "mainThread": {"threadId": "f5ba7d11cf0164d24185a908d27d729e1847b250-188",
        "modifiedTimestamp": "1716100721484", "latestMessage": {"messageUid": "1#439321784699959",
        "messageType": 2003, "alternativeMessageType": 2001, "body": "VaultTec BlacklistBot
        changed the group name.", "createdTimestamp": "1716100721484", "sender": {"accountId":
        "2721516955383551246", "onlineId": "VaultTec-Co"}}, "readMessageUid": "1#439321784699959"},
        "members": [{"accountId": "2721516955383551246", "onlineId": "VaultTec-Co",
        "role": "owner"}, {"accountId": "8520698476712646544", "onlineId": "VaultTec_Trading",
        "role": "member"}, {"accountId": "2066273503397112667", "onlineId": "isFakeAccount",
        "role": "member"}], "notificationSetting": {"isMute": false}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: DELETE
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/f5ba7d11cf0164d24185a908d27d729e1847b250-188/members/me
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
