interactions:
- request:
    body: grant_type=refresh_token&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183997}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - b4dca796-f79f-4ced-940d-373c906db91f
      X-Psn-Correlation-Id:
      - b4dca796-f79f-4ced-940d-373c906db91f
      X-Psn-Request-Id:
      - d8c17a464eff56928631980d0fc07045
      X-RequestId:
      - d8c17a464eff56928631980d0fc07045
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dms.api.playstation.com/api/v1/devices/accounts/me
  response:
    body:
      string: '{"accountId": "2721516955383551246"}'
    headers:
      Content-Type:
      - application/json
      X-CorrelationId:
      - e7359650-5589-4de2-9b7f-9392580ac0ff
      X-Psn-Correlation-Id:
      - e7359650-5589-4de2-9b7f-9392580ac0ff
      X-Psn-Request-Id:
      - e7359650-5589-4de2-9b7f-9392580ac0ff
      X-RequestId:
      - e7359650-5589-4de2-9b7f-9392580ac0ff
    status:
      code: 200
      message: OK
version: 1
