interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/me/friends?limit=1000
  response:
    body:
      string: '{"friends": ["8518662057912692550", "258529421351944452", "1433466746267737212",
        "5991850572572051521", "7222824374247471500", "4337647799935995704", "7108615122010912373",
        "846116067800322905", "4257803862677544723", "8573673572348923758", "9021861119870663195",
        "4131443832945497518", "9205769651418840784", "117627244710818722", "2174539459039328143",
        "7864156239834184535", "8270071905163343033", "8078591355116286307", "4881162353155276397",
        "5608493910963319221", "2845101365541465607", "7087732409622469912", "5433233870466023413",
        "4273405838384737823", "8910003479695062706", "4895496131809901811", "4151397070963970862",
        "2721516955383551246", "1723276347980666990", "7422146373650127843", "1943456703361936658",
        "1870113034603872922", "6370876631718498141", "7538640474462320126", "1572780007594060283"],
        "totalItemCount": 35}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0612581585678951388
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/8518662057912692550/profiles
  response:
    body:
      string: '{"onlineId": "Evil_Meeseeks420", "aboutMe": "", "avatars": [{"size":
        "s", "url": "http://static-resource.np.community.playstation.net/avatar_s/WWS_A/A2119_s.png"},
        {"size": "xl", "url": "http://static-resource.np.community.playstation.net/avatar_xl/WWS_A/A2119_xl.png"},
        {"size": "l", "url": "http://static-resource.np.community.playstation.net/avatar/WWS_A/A2119_l.png"},
        {"size": "m", "url": "http://static-resource.np.community.playstation.net/avatar_m/WWS_A/A2119_m.png"}],
        "languages": ["en-US"], "isPlus": true, "isOfficiallyVerified": false, "isMe":
        false}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0641477354105641936
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/1572780007594060283/profiles
  response:
    body:
      string: '{"onlineId": "HolyVaultBoy", "aboutMe": "", "avatars": [{"size": "s",
        "url": "http://static-resource.np.community.playstation.net/avatar_s/3RD/UP43611208W01_90E779569BB36140D67B_S.png"},
        {"size": "xl", "url": "http://static-resource.np.community.playstation.net/avatar_xl/3RD/UP43611208W01_5E8AE3139D24EE68D8A0_XL.png"},
        {"size": "l", "url": "http://static-resource.np.community.playstation.net/avatar/3RD/UP43611208W01_5E8AE3139D24EE68D8A0_L.png"},
        {"size": "m", "url": "http://static-resource.np.community.playstation.net/avatar_m/3RD/UP43611208W01_36B99D5D8BC0D8E4DF49_M.png"}],
        "languages": ["en-US"], "isPlus": true, "isOfficiallyVerified": false, "isMe":
        false}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0207417556489252316
    status:
      code: 200
      message: OK
version: 1
