interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=ac8d161a-d966-4728-b0ea-ffec22f69edc&scope=psn%3Aclientapp+psn%3Amobile.v1&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v3.xiK6jt&cid=e4b0c77d-d4d7-4e3d-bd7c-4f5255248ad9
      X-CorrelationId:
      - e4b0c77d-d4d7-4e3d-bd7c-4f5255248ad9
      X-Psn-Correlation-Id:
      - e4b0c77d-d4d7-4e3d-bd7c-4f5255248ad9
      X-Psn-Request-Id:
      - e9e1085fdfed60ab8921fd6f604384c2
      X-RequestId:
      - e9e1085fdfed60ab8921fd6f604384c2
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - a67bcfc1-f23f-49fb-a4a8-a8e2b102c02d
      X-Psn-Correlation-Id:
      - a67bcfc1-f23f-49fb-a4a8-a8e2b102c02d
      X-Psn-Request-Id:
      - cbbea01b68e6b7cac87dad62da9de8ca
      X-RequestId:
      - cbbea01b68e6b7cac87dad62da9de8ca
    status:
      code: 200
      message: OK
version: 1
