interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/6515971742264256071/titles/trophyTitles?npTitleIds=PPSA03420_00%2C
  response:
    body:
      string: '{"titles": [{"npTitleId": "PPSA03420_00", "trophyTitles": [{"npServiceName":
        "trophy2", "npCommunicationId": "NPWR21647_00", "trophyTitleName": "Grand
        Theft Auto V", "trophyTitleIconUrl": "https://psnobj.prod.dl.playstation.net/psnobj/NPWR21647_00/26efdb55-9e6d-4de9-943f-6b95768ae607.png",
        "hasTrophyGroups": true, "rarestTrophies": [{"trophyId": 49, "trophyHidden":
        false, "trophyType": "bronze", "trophyName": "American Dream", "trophyDetail":
        "GTA Online: Own an Apartment, Garage and an Insured Vehicle", "trophyIconUrl":
        "https://psnobj.prod.dl.playstation.net/psnobj/NPWR21647_00/53dfd2f4-20b0-4474-8c11-be1cc87c3ec8.png",
        "trophyRare": 3, "trophyEarnedRate": "67.9", "earned": true, "earnedDateTime":
        "2022-03-15T13:34:38Z"}], "progress": 1, "earnedTrophies": {"bronze": 2, "silver":
        0, "gold": 0, "platinum": 0}, "definedTrophies": {"bronze": 59, "silver":
        15, "gold": 3, "platinum": 1}, "lastUpdatedDateTime": "2022-03-15T13:34:39Z"}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
