interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/0000000000000000000/profiles
  response:
    body:
      string: '{"error": {"referenceId": "44fb751d-6ef0-11ed-9cc6-710923dbb525", "code":
        2281473, "message": "Bad Request (path: accountId)"}}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0278452772720806364
    status:
      code: 400
      message: Bad Request
version: 1
