interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/kerksten/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "kerksten", "accountId": "6074310610488045645"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/6074310610488045645/trophyTitles?limit=100&offset=0
  response:
    body:
      string: '{"trophyTitles": [{"npServiceName": "trophy", "npCommunicationId":
        "NPWR11887_00", "trophySetVersion": "01.00", "trophyTitleName": "Pox Nora",
        "trophyTitleDetail": "The trophy set of Pox Nora", "trophyTitleIconUrl": "https://image.api.playstation.com/trophy/np/NPWR11887_00_00CD1763C5BA6E0DDF29AB99E756B89FB23C049656/4DD0155C1D10FADA0A092365A910E243E433C281.PNG",
        "trophyTitlePlatform": "PSVITA,PS4", "hasTrophyGroups": false, "definedTrophies":
        {"bronze": 12, "silver": 8, "gold": 6, "platinum": 1}, "progress": 0, "earnedTrophies":
        {"bronze": 0, "silver": 0, "gold": 0, "platinum": 0}, "hiddenFlag": false,
        "lastUpdatedDateTime": "2024-03-24T22:22:49Z"}, {"npServiceName": "trophy2",
        "npCommunicationId": "NPWR36059_00", "trophySetVersion": "01.00", "trophyTitleName":
        "Plants At War", "trophyTitleIconUrl": "https://psnobj.prod.dl.playstation.net/psnobj/NPWR36059_00/397a77a2-fa0f-44a4-820d-666ddb6d1e4b.png",
        "trophyTitlePlatform": "PS5", "hasTrophyGroups": false, "definedTrophies":
        {"bronze": 4, "silver": 3, "gold": 2, "platinum": 0}, "progress": 0, "earnedTrophies":
        {"bronze": 0, "s[...]
