interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups?includeFields=members&limit=10&offset=0
  response:
    body:
      string: '{"groups": [{"groupId": "~25F64C5ED90889A0.763F9A1EB6AB5790", "groupType":
        0, "members": [{"accountId": "2735457793926007200", "onlineId": "AlphaReturn07"},
        {"accountId": "8520698476712646544", "onlineId": "VaultTec_Trading"}]}, {"groupId":
        "~5E2198D93445F6AF.763F9A1EB6AB5790", "groupType": 0, "members": [{"accountId":
        "8520698476712646544", "onlineId": "VaultTec_Trading"}, {"accountId": "6782870572449003183",
        "onlineId": "diexander1988"}]}, {"groupId": "~6B67D440B306ECC6.763F9A1EB6AB5790",
        "groupType": 0, "members": [{"accountId": "7739387859006057670", "onlineId":
        "Morgo-Florgo"}, [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/~25F64C5ED90889A0.763F9A1EB6AB5790?includeFields=groupName%2CgroupIcon%2Cmembers%2CmainThread%2CjoinedTimestamp%2CmodifiedTimestamp%2CisFavorite%2CexistsNewArrival%2CpartySessions%2CnotificationSetting
  response:
    body:
      string: '{"groupId": "~25F64C5ED90889A0.763F9A1EB6AB5790", "groupType": 0, "modifiedTimestamp":
        "1666113228109", "groupName": {"value": "", "status": 0}, "groupIcon": {"status":
        0}, "joinedTimestamp": "1616724776000", "isFavorite": false, "existsNewArrival":
        true, "mainThread": {"threadId": "~25F64C5ED90889A0.763F9A1EB6AB5790", "modifiedTimestamp":
        "1666113228109", "latestMessage": {"messageUid": "1#426524986395984", "messageType":
        3, "alternativeMessageType": 1, "body": "", "createdTimestamp": "1666113228109",
        "sender": {"accountId": "2735457793926007200", "onlineId": "AlphaReturn07"}},
        "readMessageUid": "1#421954813790499"}, "members": [{"accountId": "2735457793926007200",
        "onlineId": "AlphaReturn07"}, {"accountId": "8520698476712646544", "onlineId":
        "VaultTec_Trading"}], "partySessions": [], "notificationSetting": {"isMute":
        false}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
