interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=ac8d161a-d966-4728-b0ea-ffec22f69edc&scope=psn%3Aclientapp+psn%3Amobile.v1&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v3.91BOTg&cid=ba21b3e5-b0dd-401d-9513-6016c4d0df30
      X-CorrelationId:
      - ba21b3e5-b0dd-401d-9513-6016c4d0df30
      X-Psn-Correlation-Id:
      - ba21b3e5-b0dd-401d-9513-6016c4d0df30
      X-Psn-Request-Id:
      - 78ec7a26b0f3d0d1e913292bc8cd27af
      X-RequestId:
      - 78ec7a26b0f3d0d1e913292bc8cd27af
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 212dce18-6279-497d-a9f4-04a1265cc17f
      X-Psn-Correlation-Id:
      - 212dce18-6279-497d-a9f4-04a1265cc17f
      X-Psn-Request-Id:
      - 10e263cac666c4ab9a0124a95770213f
      X-RequestId:
      - 10e263cac666c4ab9a0124a95770213f
    status:
      code: 200
      message: OK
version: 1
