interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups?includeFields=members&limit=1&offset=0
  response:
    body:
      string: '{"groups": [{"groupId": "20276f9f99fab14bbde433b222040cd37a001773-840",
        "groupType": 1, "members": [{"accountId": "2721516955383551246", "onlineId":
        "VaultTec-Co"}, {"accountId": "8520698476712646544", "onlineId": "VaultTec_Trading"},
        {"accountId": "2066273503397112667", "onlineId": "isFakeAccount"}]}], "previousOffset":
        0, "nextOffset": 1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/20276f9f99fab14bbde433b222040cd37a001773-840?includeFields=groupName%2CgroupIcon%2Cmembers%2CmainThread%2CjoinedTimestamp%2CmodifiedTimestamp%2CisFavorite%2CexistsNewArrival%2CpartySessions%2CnotificationSetting
  response:
    body:
      string: '{"groupId": "20276f9f99fab14bbde433b222040cd37a001773-840", "groupType":
        1, "modifiedTimestamp": "1664473724582", "groupName": {"value": "Testing API",
        "status": 1, "modifier": {"accountId": "8520698476712646544", "onlineId":
        "VaultTec_Trading"}, "modifiedTimestamp": "1664473724000"}, "groupIcon": {"status":
        0}, "joinedTimestamp": "1664473724000", "isFavorite": false, "existsNewArrival":
        false, "mainThread": {"threadId": "20276f9f99fab14bbde433b222040cd37a001773-840",
        "modifiedTimestamp": "1664473724582", "latestMessage": {"messageUid": "1#426105273493134",
        "messageType": 2003, "alternativeMessageType": 2001, "body": "VaultTec TradingCo
        changed the group name.", "createdTimestamp": "1664473724582", "sender": {"accountId":
        "8520698476712646544", "onlineId": "VaultTec_Trading"}}, "readMessageUid":
        "1#426105273493134"}, "members": [{"accountId": "2721516955383551246", "onlineId":
        "VaultTec-Co", "role": "member"}, {"accountId": "8520698476712646544", "onlineId":
        "VaultTec_Trading", "role": "owner"}, {"accountId": "2066273503397112667",
        "onlineId": "isFakeAccount", "role": "member"}], "partySessions": [], "notificationSetting":
        {"isMute": false}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: DELETE
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/20276f9f99fab14bbde433b222040cd37a001773-840/members/me
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
