interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/6515971742264256071/titles/trophyTitles?npTitleIds=PPSA03420_00%2C
  response:
    body:
      string: '{"titles": [{"npTitleId": "PPSA03420_00", "trophyTitles": [{"npServiceName":
        "trophy2", "npCommunicationId": "NPWR21647_00", "trophyTitleName": "Grand
        Theft Auto V", "trophyTitleIconUrl": "https://psnobj.prod.dl.playstation.net/psnobj/NPWR21647_00/26efdb55-9e6d-4de9-943f-6b95768ae607.png",
        "hasTrophyGroups": true, "rarestTrophies": [{"trophyId": 49, "trophyHidden":
        false, "trophyType": "bronze", "trophyName": "American Dream", "trophyDetail":
        "GTA Online: Own an Apartment, Garage and an Insured Vehicle", "trophyIconUrl":
        "https://psnobj.prod.dl.playstation.net/psnobj/NPWR21647_00/53dfd2f4-20b0-4474-8c11-be1cc87c3ec8.png",
        "trophyRare": 3, "trophyEarnedRate": "67.8", "earned": true, "earnedDateTime":
        "2022-03-15T13:34:38Z"}], "progress": 1, "earnedTrophies": {"bronze": 2, "silver":
        0, "gold": 0, "platinum": 0}, "definedTrophies": {"bronze": 59, "silver":
        15, "gold": 3, "platinum": 1}, "lastUpdatedDateTime": "2022-03-15T13:34:39Z"}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/npCommunicationIds/NPWR21647_00/trophyGroups/all/trophies?npServiceName=trophy2
  response:
    body:
      string: '{"trophySetVersion": "01.05", "hasTrophyGroups": true, "trophies":
        [{"trophyId": 0, "trophyHidden": false, "trophyType": "platinum", "trophyName":
        "Los Santos Legend", "trophyDetail": "Congratulations! You''re Vinewood''s
        biggest star!", "trophyIconUrl": "https://psnobj.prod.dl.playstation.net/psnobj/NPWR21647_00/8f7cad12-95b0-4040-a320-700466ca64d8.png",
        "trophyGroupId": "default"}, {"trophyId": 1, "trophyHidden": true, "trophyType":
        "bronze", "trophyName": "Welcome to Los Santos", "trophyDetail": "You repo''d
        a car and raced it through the heart of a sun-soaked metropolis.", "trophyIconUrl":
        "https://psnobj.prod.dl.playstation.net/psnobj/NPWR21647_00/ccb0b394-e930-4637-83c0-c4e0e7e0f156.png",
        "trophyGroupId": "default"}, {"trophyId": 2, "trophyHidden": true, "trophyType":
        "bronze", "trophyName": "A Friendship Resurrected[...]
