interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/me/npCommunicationIds/NPWR15179_00/trophyGroups?npServiceName=trophy
  response:
    body:
      string: '{"error": {"referenceId": "b8ac772d-165b-11ef-83fa-53164989de1b", "code":
        2240525, "message": "Resource not found"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/npCommunicationIds/NPWR15179_00/trophyGroups?npServiceName=trophy
  response:
    body:
      string: '{"npServiceName": "trophy", "npCommunicationId": "NPWR15179_00", "trophySetVersion":
        "01.04", "trophyTitleName": "RESIDENT EVIL 2", "trophyTitleDetail": "RESIDENT
        EVIL 2", "trophyTitleIconUrl": "https://image.api.playstation.com/trophy/np/NPWR15179_00_004E1F39C12A2C6264BA2A0546D9234F56889DCC5F/BAFEDE2151A73E1FAFE59B8575EC1CF99F6A75F6.PNG",
        "trophyTitlePlatform": "PS4", "definedTrophies": {"bronze": 30, "silver":
        10, "gold": 4, "platinum": 1}, "trophyGroups": [{"trophyGroupId": "default",
        "trophyGroupName": "RESIDENT EVIL 2", "trophyGroupDetail": "RESIDENT EVIL
        2", "trophyGroupIconUrl": "https://image.api.playstation.com/trophy/np/NPWR15179_00_004E1F39C12A2C6264BA2A0546D9234F56889DCC5F/BAFEDE2151A73E1FAFE59B8575EC1CF99F6A75F6.PNG",
        "definedTrophies": {"bronze": 28, "silver": 9, "gold": 4, "platinum": 1}},
        {"trophyGroupId": "001", "trophyGroupName": "The Ghost Survivors", "trophyGroupDetail":
        "The Ghost Survivors", "trophyGroupIconUrl": "https://image.api.playstation.com/trophy/np/NPWR15179_00_004E1F39C12A2C6264BA2A0546D9234F56889DCC5F/FB76E0DCB21411CED6788A7102640D817E8AE9BC.PNG",
        "definedTrophies": {"bronze": 1, "silver": 1, "gold": 0, "platinum": 0}},
        {"trophyGroupId": "002", "trophyGroupName": "Another Survivor", "trophyGroupDetail":
        "Another Survivor", "trophyGroupIconUrl": "https://image.api.playstation.com/trophy/np/NPWR15179_00_004E1F39C12A2C6264BA2A0546D9234F56889DCC5F/1A3F3ECC12830FA7CDCC88F8DADD69EC396DCE3A.PNG",
        "definedTrophies": {"bronze": 1, "silver": 0, "gold": 0, "platinum": 0}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/me/npCommunicationIds/NPWR15179_00/trophyGroups?npServiceName=trophy
  response:
    body:
      string: '{"error": {"referenceId": "b8fa48ef-165b-11ef-b1cd-d306cc9547a2", "code":
        2240525, "message": "Resource not found"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
