interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=ac8d161a-d966-4728-b0ea-ffec22f69edc&scope=psn%3Aclientapp+psn%3Amobile.v1&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v3.ehHwNV&cid=7a4d6b22-d30b-4666-be08-71e2e9499244
      X-CorrelationId:
      - 7a4d6b22-d30b-4666-be08-71e2e9499244
      X-Psn-Correlation-Id:
      - 7a4d6b22-d30b-4666-be08-71e2e9499244
      X-Psn-Request-Id:
      - 1faa255c6d75e74dbd5e4a04b55435e9
      X-RequestId:
      - 1faa255c6d75e74dbd5e4a04b55435e9
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 76be9d76-1ee0-4835-b351-5445c8d12690
      X-Psn-Correlation-Id:
      - 76be9d76-1ee0-4835-b351-5445c8d12690
      X-Psn-Request-Id:
      - 99d7c64b0e6d4680fd30da9d574f94d7
      X-RequestId:
      - 99d7c64b0e6d4680fd30da9d574f94d7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dms.api.playstation.com/api/v1/devices/accounts/me
  response:
    body:
      string: '{"accountId": "2721516955383551246"}'
    headers:
      Content-Type:
      - application/json
      X-CorrelationId:
      - 0179090a-b868-47bd-9c02-338b0b3bf173
      X-Psn-Correlation-Id:
      - 0179090a-b868-47bd-9c02-338b0b3bf173
      X-Psn-Request-Id:
      - 0179090a-b868-47bd-9c02-338b0b3bf173
      X-RequestId:
      - 0179090a-b868-47bd-9c02-338b0b3bf173
    status:
      code: 200
      message: OK
version: 1
