interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups?includeFields=members&limit=1&offset=0
  response:
    body:
      string: '{"groups": [{"groupId": "~25C4C5406FD6D50E.763F9A1EB6AB5790", "groupType":
        0, "members": [{"accountId": "2721516955383551246", "onlineId": "VaultTec-Co"},
        {"accountId": "8520698476712646544", "onlineId": "VaultTec_Trading"}]}], "previousOffset":
        0, "nextOffset": 1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/~25C4C5406FD6D50E.763F9A1EB6AB5790?includeFields=groupName%2CgroupIcon%2Cmembers%2CmainThread%2CjoinedTimestamp%2CmodifiedTimestamp%2CisFavorite%2CexistsNewArrival%2CpartySessions%2CnotificationSetting
  response:
    body:
      string: '{"groupId": "~25C4C5406FD6D50E.763F9A1EB6AB5790", "groupType": 0, "modifiedTimestamp":
        "1664473721488", "groupName": {"value": "", "status": 0}, "groupIcon": {"status":
        0}, "joinedTimestamp": "1664473719000", "isFavorite": false, "existsNewArrival":
        false, "mainThread": {"threadId": "~25C4C5406FD6D50E.763F9A1EB6AB5790", "modifiedTimestamp":
        "1664473721488", "latestMessage": {"messageUid": "1#426105272701136", "messageType":
        1, "alternativeMessageType": 1, "body": "Hello World 2", "createdTimestamp":
        "1664473721488", "sender": {"accountId": "8520698476712646544", "onlineId":
        "VaultTec_Trading"}}, "readMessageUid": "1#426105272701136"}, "members": [{"accountId":
        "2721516955383551246", "onlineId": "VaultTec-Co"}, {"accountId": "8520698476712646544",
        "onlineId": "VaultTec_Trading"}], "partySessions": [], "notificationSetting":
        {"isMute": false}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"messageType": 1, "body": "Hello World!"}'
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: POST
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/~25C4C5406FD6D50E.763F9A1EB6AB5790/threads/~25C4C5406FD6D50E.763F9A1EB6AB5790/messages
  response:
    body:
      string: '{"messageUid": "1#426105289362703", "createdTimestamp": "1664473786573"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
