interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/6515971742264256071/titles/trophyTitles?npTitleIds=SSSA01325_00%2C
  response:
    body:
      string: '{"error": {"referenceId": "76ca9edc-0f52-11ef-ac48-a7366f3e9fbd", "code":
        2240525, "message": "Resource not found (npTitleId=''SSSA01325_00'')"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
