interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/VaultTec_Trading/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "VaultTec_Trading", "accountId": "8520698476712646544"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"invitees": [{"accountId": "8520698476712646544"}]}'
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: POST
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups
  response:
    body:
      string: '{"groupId": "~25C4C5406FD6D50E.763F9A1EB6AB5790", "mainThread": {"threadId":
        "~25C4C5406FD6D50E.763F9A1EB6AB5790"}, "hasAllAccountInvited": true}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"messageType": 1, "body": "Hello World"}'
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: POST
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/~25C4C5406FD6D50E.763F9A1EB6AB5790/threads/~25C4C5406FD6D50E.763F9A1EB6AB5790/messages
  response:
    body:
      string: '{"messageUid": "1#439143228477424", "createdTimestamp": "1715403236239"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/~25C4C5406FD6D50E.763F9A1EB6AB5790/threads/~25C4C5406FD6D50E.763F9A1EB6AB5790/messages?limit=1
  response:
    body:
      string: '{"messages": [{"messageUid": "1#439143228477424", "messageType": 1,
        "alternativeMessageType": 1, "body": "Hello World", "createdTimestamp": "1715403236239",
        "sender": {"accountId": "2721516955383551246", "onlineId": "VaultTec-Co"}}],
        "previous": "1#439143228477424", "next": "1#439143228477424", "reachedEndOfPage":
        false, "messageCount": 1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
