interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
        Country:
          - US
      method: GET
      uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/38335156987791a6750a33ae452ec8666177b65e-103?includeFields=groupName%2CgroupIcon%2Cmembers%2CmainThread%2CjoinedTimestamp%2CmodifiedTimestamp%2CisFavorite%2CexistsNewArrival%2CpartySessions%2CnotificationSetting
    response:
      body:
        string: '{"groupId": "38335156987791a6750a33ae452ec8666177b65e-103", "groupType":
        1, "modifiedTimestamp": "1664142873136", "groupName": {"value": "API Testing
        3", "status": 1, "modifier": {"accountId": "8520698476712646544", "onlineId":
        "VaultTec_Trading"}, "modifiedTimestamp": "1664142873000"}, "groupIcon": {"status":
        0}, "joinedTimestamp": "1664140183000", "isFavorite": false, "existsNewArrival":
        false, "mainThread": {"threadId": "38335156987791a6750a33ae452ec8666177b65e-103",
        "modifiedTimestamp": "1664142873136", "latestMessage": {"messageUid": "1#426020575523033",
        "messageType": 2003, "alternativeMessageType": 2001, "body": "VaultTec TradingCo
        changed the group name.", "createdTimestamp": "1664142873136", "sender": {"accountId":
        "8520698476712646544", "onlineId": "VaultTec_Trading"}}, "readMessageUid":
        "1#426020575523033"}, "members": [{"accountId": "2721516955383551246", "onlineId":
        "VaultTec-Co", "role": "member"}, {"accountId": "8520698476712646544", "onlineId":
        "VaultTec_Trading", "role": "owner"}, {"accountId": "1802043923080044300",
        "onlineId": "jeranther", "role": "member"}], "partySessions": [], "notificationSetting":
        {"isMute": false}}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
  - request:
      body: '{"groupName": {"value": "Testing API"}}'
      headers:
        Content-Type:
          - application/json
        Country:
          - US
      method: PATCH
      uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/38335156987791a6750a33ae452ec8666177b65e-103
    response:
      body:
        string: ''
      headers:
      status:
        code: 204
        message: No Content
version: 1
