interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=09515159-7237-4370-9b40-3806e67c0891&scope=psn%3Amobile.v2.core+psn%3Aclientapp&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v3.OwTB2R&cid=8fca0d47-66fa-47d0-9b85-64bab15505c8
      X-CorrelationId:
      - 8fca0d47-66fa-47d0-9b85-64bab15505c8
      X-Psn-Correlation-Id:
      - 8fca0d47-66fa-47d0-9b85-64bab15505c8
      X-Psn-Request-Id:
      - 6712262ab0b3c4a9357360b808dff615
      X-RequestId:
      - 6712262ab0b3c4a9357360b808dff615
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&scope=psn%3Amobile.v2.core+psn%3Aclientapp&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v2.core psn:clientapp", "id_token": "REDACTED",
        "refresh_token": "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 6a04a018-c237-4819-a816-1239a4a000b3
      X-Psn-Correlation-Id:
      - 6a04a018-c237-4819-a816-1239a4a000b3
      X-Psn-Request-Id:
      - ddcbb6d3e65ae4fa5c1c45ed61e99296
      X-RequestId:
      - ddcbb6d3e65ae4fa5c1c45ed61e99296
    status:
      code: 200
      message: OK
version: 1
