interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/6515971742264256071/titles/trophyTitles?npTitleIds=PPSA03420_00%2C
  response:
    body:
      string: '{"titles": [{"npTitleId": "PPSA03420_00", "trophyTitles": [{"npServiceName":
        "trophy2", "npCommunicationId": "NPWR21647_00", "trophyTitleName": "Grand
        Theft Auto V", "trophyTitleIconUrl": "https://psnobj.prod.dl.playstation.net/psnobj/NPWR21647_00/26efdb55-9e6d-4de9-943f-6b95768ae607.png",
        "hasTrophyGroups": true, "rarestTrophies": [{"trophyId": 49, "trophyHidden":
        false, "trophyType": "bronze", "trophyName": "American Dream", "trophyDetail":
        "GTA Online: Own an Apartment, Garage and an Insured Vehicle", "trophyIconUrl":
        "https://psnobj.prod.dl.playstation.net/psnobj/NPWR21647_00/53dfd2f4-20b0-4474-8c11-be1cc87c3ec8.png",
        "trophyRare": 3, "trophyEarnedRate": "67.9", "earned": true, "earnedDateTime":
        "2022-03-15T13:34:38Z"}], "progress": 1, "earnedTrophies": {"bronze": 2, "silver":
        0, "gold": 0, "platinum": 0}, "definedTrophies": {"bronze": 59, "silver":
        15, "gold": 3, "platinum": 1}, "lastUpdatedDateTime": "2022-03-15T13:34:39Z"}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/catalog/v2/titles/PPSA03420_00/concepts?age=99&country=US&language=en-US
  response:
    body:
      string: '[{"id": 201930, "name": "Grand Theft Auto V (PlayStation\u00ae5)",
        "nameEn": "Grand Theft Auto V (PlayStation\u00ae5)", "publisherName": "Rockstar
        Games", "media": {"videos": [{"id": "10908545", "url": "https://vulcan.dl.playstation.net/img/rnd/202312/1411/5fa8f17c4c81cf21a277e64f8a4031eabd7a119700ae45db.mp4",
        "hlsUrl": "https://vulcan.dl.playstation.net/ap/bm/b9afc2a2-c88d-480b-b03c-44703b76337e-lq53hgw2/master_avc.m3u8",
        "hlsUrl4k": "https://vulcan.dl.playstation.net/ap/bm/b9afc2a2-c88d-480b-b03c-44703b76337e-lq53hgw2/master_hevc.m3u8",
        "posters": ["https://image.api.playstation.com/vulcan/img/rnd/202312/1411/d0464983961065b9777f63354c675f21cd1f58bab031b481.png"],
        "type": "PREVIEW"}], "images": [{"url": "https://image.api.playstation.com/vulcan/ap/rnd/202203/0302/bZ1JTRXzoyl3hkcsloKcCgdB.jpg",
        "type": "GAMEHUB_COVER_ART"}, {"url": "https://image.api.playstation.com/vulcan/img/rnd/202011/2419/XFDZtpMiMpFaJLuo9azJK6Gl.png",
        "type": "LOGO"}, {"url": "https://image.api.playstation.com/vulcan/ap/rnd/202202/2816/K6mmm89oNII1iI1aqaClO0wh.png",
        "type": "MASTER"}]}, "descriptions": [{"type": "LONG", "desc": "Special introductory
        price valid from 15-03-2022 to 14-06-2022 (Standard Price: $39.99)<br/><br/>Includes
        Grand Theft Auto V: Story Mode and Grand Theft Auto Online. <br/><br/>Continue
        your journey on PS5\u2122 and transfer both GTAV Story Mode progress and GTA
        Online characters and progression to PS5\u2122 with a one-time migration.<br/><br/>Experience
        entertainment blockbusters, Grand Theft Auto V and GTA Online \u2014 now for
        PS5\u2122.<br/><b[...]
