interactions:
- request:
    body: grant_type=refresh_token&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183997}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - f0e6f572-ce3a-4c3a-9d45-bebfca1649d3
      X-Psn-Correlation-Id:
      - f0e6f572-ce3a-4c3a-9d45-bebfca1649d3
      X-Psn-Request-Id:
      - cd2cdea19062a3571aea02435b987868
      X-RequestId:
      - cd2cdea19062a3571aea02435b987868
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dms.api.playstation.com/api/v1/devices/accounts/me
  response:
    body:
      string: '{"accountId": "2721516955383551246"}'
    headers:
      Content-Type:
      - application/json
      X-CorrelationId:
      - 3b0f56b0-b057-4389-bcb0-aa014e7baf70
      X-Psn-Correlation-Id:
      - 3b0f56b0-b057-4389-bcb0-aa014e7baf70
      X-Psn-Request-Id:
      - 3b0f56b0-b057-4389-bcb0-aa014e7baf70
      X-RequestId:
      - 3b0f56b0-b057-4389-bcb0-aa014e7baf70
    status:
      code: 200
      message: OK
version: 1
