interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/kerksten/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "kerksten", "accountId": "6074310610488045645"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/6074310610488045645/trophySummary
  response:
    body:
      string: '{"accountId": "6074310610488045645", "trophyLevel": 214, "trophyPoint":
        21555, "trophyLevelBasePoint": 21240, "trophyLevelNextPoint": 21690, "progress":
        70, "tier": 3, "earnedTrophies": {"bronze": 665, "silver": 154, "gold": 64,
        "platinum": 4}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
