interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/2721516955383551246/profiles
  response:
    body:
      string: '{"onlineId": "VaultTec-Co", "aboutMe": "r/Fallout76Marketplace Moderator",
        "avatars": [{"size": "s", "url": "http://static-resource.np.community.playstation.net/avatar_s/default/DefaultAvatar_s.png"},
        {"size": "xl", "url": "http://static-resource.np.community.playstation.net/avatar_xl/default/Defaultavatar_xl.png"},
        {"size": "l", "url": "http://static-resource.np.community.playstation.net/avatar/default/DefaultAvatar.png"},
        {"size": "m", "url": "http://static-resource.np.community.playstation.net/avatar_m/default/DefaultAvatar_m.png"}],
        "languages": ["en-US"], "isPlus": false, "isOfficiallyVerified": false, "isMe":
        false}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0970828099118362138
    status:
      code: 200
      message: OK
version: 1
