interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/isFakeAccount/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "isFakeAccount", "accountId": "2066273503397112667"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/2066273503397112667/basicPresences?type=primary
  response:
    body:
      string: '{"error": {"referenceId": "d9f16249-1baa-11ef-858b-f10ea60642f5", "code":
        2281486, "message": "Not permitted by access control"}}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0911509993337554923
    status:
      code: 403
      message: Forbidden
version: 1
