interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=09515159-7237-4370-9b40-3806e67c0891&scope=psn%3Amobile.v2.core+psn%3Aclientapp&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v3.AoV78l&cid=633b460d-6d36-4d7e-a9b8-0bdbc4e47e00
      X-CorrelationId:
      - 633b460d-6d36-4d7e-a9b8-0bdbc4e47e00
      X-Psn-Correlation-Id:
      - 633b460d-6d36-4d7e-a9b8-0bdbc4e47e00
      X-Psn-Request-Id:
      - 9ea033737a176dd95cb4318b426839b4
      X-RequestId:
      - 9ea033737a176dd95cb4318b426839b4
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&scope=psn%3Amobile.v2.core+psn%3Aclientapp&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v2.core psn:clientapp", "id_token": "REDACTED",
        "refresh_token": "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 0e316fa8-1523-4e33-a2e5-d0a4085cf9a5
      X-Psn-Correlation-Id:
      - 0e316fa8-1523-4e33-a2e5-d0a4085cf9a5
      X-Psn-Request-Id:
      - e1e6640bf86b8c995508cff3f3055259
      X-RequestId:
      - e1e6640bf86b8c995508cff3f3055259
    status:
      code: 200
      message: OK
version: 1
