interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamelist/v2/users/me/titles?categories=ps4_game%2Cps5_native_game&limit=150&offset=0
  response:
    body:
      string: '{"titles": [], "nextOffset": null, "previousOffset": 0, "totalItemCount":
        0}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Correlation-Id:
      - 25f15dcf-593b-1031-8759-11ed40c86c19
      X-Psn-Request-Id:
      - 25f15dcf-593b-1031-8758-11ed40c86c19
    status:
      code: 200
      message: OK
version: 1
