interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups?includeFields=members&limit=1&offset=0
  response:
    body:
      string: '{"groups": [{"groupId": "b4f51b7a0e92030dd4a1943dd0c86f13398c2b5f-246",
        "groupType": 1, "members": [{"accountId": "2721516955383551246", "onlineId":
        "VaultTec-Co"}, {"accountId": "8520698476712646544", "onlineId": "VaultTec_Trading"}]}],
        "previousOffset": 0, "nextOffset": 1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/b4f51b7a0e92030dd4a1943dd0c86f13398c2b5f-246?includeFields=groupName%2CgroupIcon%2Cmembers%2CmainThread%2CjoinedTimestamp%2CmodifiedTimestamp%2CisFavorite%2CexistsNewArrival%2CpartySessions%2CnotificationSetting
  response:
    body:
      string: '{"groupId": "b4f51b7a0e92030dd4a1943dd0c86f13398c2b5f-246", "groupType":
        1, "modifiedTimestamp": "1715403240405", "groupName": {"value": "Testing API",
        "status": 1, "modifier": {"accountId": "2721516955383551246", "onlineId":
        "VaultTec-Co"}, "modifiedTimestamp": "1715403240000"}, "groupIcon": {"status":
        0}, "joinedTimestamp": "1715403240000", "isFavorite": false, "existsNewArrival":
        false, "mainThread": {"threadId": "b4f51b7a0e92030dd4a1943dd0c86f13398c2b5f-246",
        "modifiedTimestamp": "1715403240405", "latestMessage": {"messageUid": "1#439143229543844",
        "messageType": 2003, "alternativeMessageType": 2001, "body": "VaultTec BlacklistBot
        changed the group name.", "createdTimestamp": "1715403240405", "sender": {"accountId":
        "2721516955383551246", "onlineId": "VaultTec-Co"}}, "readMessageUid": "1#439143229543844"},
        "members": [{"accountId": "2721516955383551246", "onlineId": "VaultTec-Co",
        "role": "owner"}, {"accountId": "8520698476712646544", "onlineId": "VaultTec_Trading",
        "role": "member"}], "partySessions": [], "notificationSetting": {"isMute":
        false}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: DELETE
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/b4f51b7a0e92030dd4a1943dd0c86f13398c2b5f-246/members/me
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
