interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=09515159-7237-4370-9b40-3806e67c0891&scope=psn%3Amobile.v2.core+psn%3Aclientapp&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v3.IIgWAN&cid=9bade0c1-dc76-4b45-8acc-b4c1eeb07e90
      X-CorrelationId:
      - 9bade0c1-dc76-4b45-8acc-b4c1eeb07e90
      X-Psn-Correlation-Id:
      - 9bade0c1-dc76-4b45-8acc-b4c1eeb07e90
      X-Psn-Request-Id:
      - b133a39d08efc1c325feac3219895a74
      X-RequestId:
      - b133a39d08efc1c325feac3219895a74
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&scope=psn%3Amobile.v2.core+psn%3Aclientapp&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v2.core psn:clientapp", "id_token": "REDACTED",
        "refresh_token": "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 3a3eddd7-3f25-49d0-a82e-3ed6bfc91b50
      X-Psn-Correlation-Id:
      - 3a3eddd7-3f25-49d0-a82e-3ed6bfc91b50
      X-Psn-Request-Id:
      - f8ee1caa8f47eff528938b3295a52cf5
      X-RequestId:
      - f8ee1caa8f47eff528938b3295a52cf5
    status:
      code: 200
      message: OK
version: 1
