interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/0000000000000000000/profiles
  response:
    body:
      string: '{"error": {"referenceId": "69ce6180-165c-11ef-8a92-91db8ecf731c", "code":
        2281473, "message": "Bad Request (path: accountId)"}}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0870634786650113174
    status:
      code: 400
      message: Bad Request
version: 1
