interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamelist/v2/users/me/titles?categories=ps4_game%2Cps5_native_game&limit=1000&offset=0
  response:
    body:
      string: '{"titles": [], "nextOffset": null, "previousOffset": 0, "totalItemCount":
        0}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Correlation-Id:
      - 26eb2a0f-593b-1031-8712-62fd5e8d2f7b
      X-Psn-Request-Id:
      - 26eb2a0f-593b-1031-8711-62fd5e8d2f7b
    status:
      code: 200
      message: OK
version: 1
