interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.net/api/userProfile/v1/internal/users/0000000000000000000/profiles
  response:
    body:
      string: '{"error": {"referenceId": "b1aea2a8-401b-11ed-823f-1daacb6adc8b", "code":
        2281473, "message": "Bad Request (path: accountId)"}}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0652808433914521915
    status:
      code: 400
      message: Bad Request
version: 1
