interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://m.np.playstation.net/api/userProfile/v1/internal/users/0000000000000000000/profiles
  response:
    body:
      string: '{"error": {"referenceId": "71919a58-37b1-11ed-b239-89285ecec912", "code":
        2281473, "message": "Bad Request (path: accountId)"}}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0751552459275831154
    status:
      code: 400
      message: Bad Request
version: 1
