interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://dms.api.playstation.com/api/v1/devices/accounts/me
  response:
    body:
      string: '{"accountId": "8520698476712646544", "accountDevices": [{"deviceId":
        "50535fdf6f67cbdc35c06c44d31c7674167b7c1316a5d1891a92a538c234d1e819f6", "deviceType":
        "PS4", "activationType": "PSN_GAME_V3", "activationDate": "2021-02-05T20:11:27.815Z",
        "accountDeviceVector": "0ibUHDSN/uu37z0K/ZJnAw"}]}'
    headers:
      Content-Type:
      - application/json
      X-CorrelationId:
      - 6c5aca71-6a2a-4339-9f1f-576099ffaa64
      X-Psn-Correlation-Id:
      - 6c5aca71-6a2a-4339-9f1f-576099ffaa64
      X-Psn-Request-Id:
      - 6c5aca71-6a2a-4339-9f1f-576099ffaa64
      X-RequestId:
      - 6c5aca71-6a2a-4339-9f1f-576099ffaa64
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.net/api/userProfile/v1/internal/users/8520698476712646544/profiles
  response:
    body:
      string: '{"onlineId": "VaultTec_Trading", "personalDetail": {"firstName": "VaultTec",
        "lastName": "TradingCo", "profilePictures": [{"size": "s", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=50&h=50&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F8520698476712646544%2F1610991957943.png&sign=7a2f9b968075e6c19a0fcfd7c099ed5f78d89734"},
        {"size": "m", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=160&h=160&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F8520698476712646544%2F1610991957943.png&sign=7a2f9b968075e6c19a0fcfd7c099ed5f78d89734"},
        {"size": "l", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=240&h=240&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F8520698476712646544%2F1610991957943.png&sign=7a2f9b968075e6c19a0fcfd7c099ed5f78d89734"},
        {"size": "xl", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=440&h=440&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F8520698476712646544%2F1610991957943.png&sign=7a2f9b968075e6c19a0fcfd7c099ed5f78d89734"}]},
        "aboutMe": "r/Fallout76Marketplace Moderator", "avatars": [{"size": "s", "url":
        "http://static-resource.np.community.playstation.net/avatar_s/default/DefaultAvatar_s.png"},
        {"size": "xl", "url": "http://static-resource.np.community.playstation.net/avatar_xl/default/Defaultavatar_xl.png"},
        {"size": "l", "url": "http://static-resource.np.community.playstation.net/avatar/default/DefaultAvatar.png"},
        {"size": "m", "url": "http://static-resource.np.community.playstation.net/avatar_m/default/DefaultAvatar_m.png"}],
        "languages": ["en-US"], "isPlus": false, "isOfficiallyVerified": false, "isMe":
        true}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0927882457475724230
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://dms.api.playstation.com/api/v1/devices/accounts/me
  response:
    body:
      string: '{"accountId": "8520698476712646544", "accountDevices": [{"deviceId":
        "50535fdf6f67cbdc35c06c44d31c7674167b7c1316a5d1891a92a538c234d1e819f6", "deviceType":
        "PS4", "activationType": "PSN_GAME_V3", "activationDate": "2021-02-05T20:11:27.815Z",
        "accountDeviceVector": "0ibUHDSN/uu37z0K/ZJnAw"}]}'
    headers:
      Content-Type:
      - application/json
      X-CorrelationId:
      - 74ffed1f-2e87-427f-95de-951cd0a07c8e
      X-Psn-Correlation-Id:
      - 74ffed1f-2e87-427f-95de-951cd0a07c8e
      X-Psn-Request-Id:
      - 74ffed1f-2e87-427f-95de-951cd0a07c8e
      X-RequestId:
      - 74ffed1f-2e87-427f-95de-951cd0a07c8e
    status:
      code: 200
      message: OK
version: 1
