interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/isFakeAccount/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "isFakeAccount", "accountId": "2066273503397112667"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/2066273503397112667/basicPresences?type=primary
  response:
    body:
      string: '{"basicPresence": {"availability": "unavailable", "primaryPlatformInfo":
        {"onlineStatus": "offline"}}}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0929619288387448787
    status:
      code: 200
      message: OK
version: 1
