interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/DaUglyDucklin/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "DaUglyDucklin", "accountId": "4273405838384737823"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/4273405838384737823/trophyTitles?limit=100&offset=0
  response:
    body:
      string: '{"trophyTitles": [{"npServiceName": "trophy", "npCommunicationId":
        "NPWR23198_00", "trophySetVersion": "01.02", "trophyTitleName": "The Crew
        Motorfest", "trophyTitleDetail": "Welcome to Motorfest! \n\nThis one-of-a-kind
        festival will let you enjoy the best experiences car culture has to offer.
        \n\nMotorfest will allow you to fulfill your ultimate action driving bucket
        list through a series of tailor-made races, themed events, and other unique
        challenges. \n\nThe Crew\u2122 Motorfest has settled down in one of the most
        breathtaking and vibrant places on Earth: the island of O\u2019ahu, in the
        Hawaiian archipelago, the perfect playground to let you have fun with your
        crew and your vehicles. \n\nWhatever the way you enjoy cars and driving, there
        is something in there for you!", "trophyTitleIconUrl": "https://image.api.playstation.com/trophy/np/NPWR23198_00_004CFF148EA294CC5229F7E3000CB960E60803923F/C4F4D512D2248171F9F31C9984F3D83784C2B0AD.PNG",
        "trophyTitlePlatform": "PS4", "hasTrophyGroups": false, "definedTrophies":
        {"bronze": 42, "silver": 5, "gold": 3, "platinum": 1}, "progress": 14, "earnedTrophies":
        {"bronze": 10, "silver": 0, "gold": 0, "platinum": 0}, "hiddenFlag": false,
        "lastUpdatedDateTime": "2024-03-01T00:48:06Z"}, {"npServiceName": "trophy",
        "npCommunicationId": "NPWR20569_00", "trophySetVersion": "01.01", "trophyTitleName":
        "Evil West", "trophyTitleDetail": "Evil West", "trophyTitleIconUrl": "https://image.api.playstation.com/trophy/np/NPWR20569_00_004F32E3B04DB814ED330625E0C6BC6FFCD5071A64/76E593EEA6CFDD03C00AAEF636C152B5F30E7A3B.PNG",
        "trophyTitlePlatform": "PS4", "hasTrophyGroups": false, "definedTrophies":
        {"bronze": 13, "silver": 11, "gold": [...]
