interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=09515159-7237-4370-9b40-3806e67c0891&scope=psn%3Amobile.v2.core+psn%3Aclientapp&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v3.Ro27Ax&cid=94c597e6-921b-4ac3-bc48-6c1d83cd24f6
      X-CorrelationId:
      - 94c597e6-921b-4ac3-bc48-6c1d83cd24f6
      X-Psn-Correlation-Id:
      - 94c597e6-921b-4ac3-bc48-6c1d83cd24f6
      X-Psn-Request-Id:
      - a404026c3ee577c58f4ae0ef2fabe628
      X-RequestId:
      - a404026c3ee577c58f4ae0ef2fabe628
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&scope=psn%3Amobile.v2.core+psn%3Aclientapp&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v2.core psn:clientapp", "id_token": "REDACTED",
        "refresh_token": "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - bf712fd3-7d6d-42c8-bdbd-239aeebc69d7
      X-Psn-Correlation-Id:
      - bf712fd3-7d6d-42c8-bdbd-239aeebc69d7
      X-Psn-Request-Id:
      - 5e4f301fc32b9ae5841d228ac6ffeb04
      X-RequestId:
      - 5e4f301fc32b9ae5841d228ac6ffeb04
    status:
      code: 200
      message: OK
version: 1
