interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/me/trophySummary
  response:
    body:
      string: '{"accountId": "2721516955383551246", "trophyLevel": 1, "trophyPoint":
        0, "trophyLevelBasePoint": 0, "trophyLevelNextPoint": 60, "progress": 0, "tier":
        1, "earnedTrophies": {"bronze": 0, "silver": 0, "gold": 0, "platinum": 0}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
