interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/npCommunicationIds/SSSA01325_00/trophyGroups/all/trophies?npServiceName=trophy2
  response:
    body:
      string: '{"error": {"referenceId": "80726b74-73aa-11ed-87da-63c6e96925ba", "code":
        2240525, "message": "Resource not found"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
