interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/kerksten/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "kerksten", "accountId": "6074310610488045645"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/trophy/v1/users/6074310610488045645/npCommunicationIds/NPWR15509_00/trophyGroups?npServiceName=trophy
  response:
    body:
      string: '{"trophySetVersion": "01.07", "hiddenFlag": false, "progress": 65,
        "earnedTrophies": {"bronze": 32, "silver": 12, "gold": 1, "platinum": 0},
        "lastUpdatedDateTime": "2021-07-27T22:31:14Z", "trophyGroups": [{"trophyGroupId":
        "default", "progress": 77, "earnedTrophies": {"bronze": 28, "silver": 10,
        "gold": 1, "platinum": 0}, "lastUpdatedDateTime": "2021-03-09T21:59:00Z"},
        {"trophyGroupId": "001", "progress": 46, "earnedTrophies": {"bronze": 2, "silver":
        2, "gold": 0, "platinum": 0}, "lastUpdatedDateTime": "2021-03-03T19:45:17Z"},
        {"trophyGroupId": "002", "progress": 66, "earnedTrophies": {"bronze": 2, "silver":
        0, "gold": 0, "platinum": 0}, "lastUpdatedDateTime": "2021-07-27T22:31:11Z"},
        {"trophyGroupId": "003", "progress": 0, "earnedTrophies": {"bronze": 0, "silver":
        0, "gold": 0, "platinum": 0}}, {"trophyGroupId": "004", "progress": 0, "earnedTrophies":
        {"bronze": 0, "silver": 0, "gold": 0, "platinum": 0}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
