interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups?includeFields=members&limit=1&offset=0
  response:
    body:
      string: '{"groups": [{"groupId": "247f39758f5844f3d918911ef9d2486d0b828ac4-881",
        "groupType": 1, "members": [{"accountId": "2721516955383551246", "onlineId":
        "VaultTec-Co"}, {"accountId": "8520698476712646544", "onlineId": "VaultTec_Trading"}]}],
        "previousOffset": 0, "nextOffset": 1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/247f39758f5844f3d918911ef9d2486d0b828ac4-881?includeFields=groupName%2CgroupIcon%2Cmembers%2CmainThread%2CjoinedTimestamp%2CmodifiedTimestamp%2CisFavorite%2CexistsNewArrival%2CpartySessions%2CnotificationSetting
  response:
    body:
      string: '{"groupId": "247f39758f5844f3d918911ef9d2486d0b828ac4-881", "groupType":
        1, "modifiedTimestamp": "1716176882364", "groupName": {"value": "Testing API",
        "status": 1, "modifier": {"accountId": "2721516955383551246", "onlineId":
        "VaultTec-Co"}, "modifiedTimestamp": "1716176882000"}, "groupIcon": {"status":
        0}, "joinedTimestamp": "1716176882000", "isFavorite": false, "existsNewArrival":
        false, "mainThread": {"threadId": "247f39758f5844f3d918911ef9d2486d0b828ac4-881",
        "modifiedTimestamp": "1716176882364", "latestMessage": {"messageUid": "1#439341281885212",
        "messageType": 2003, "alternativeMessageType": 2001, "body": "VaultTec BlacklistBot
        changed the group name.", "createdTimestamp": "1716176882364", "sender": {"accountId":
        "2721516955383551246", "onlineId": "VaultTec-Co"}}, "readMessageUid": "1#439341281885212"},
        "members": [{"accountId": "2721516955383551246", "onlineId": "VaultTec-Co",
        "role": "owner"}, {"accountId": "8520698476712646544", "onlineId": "VaultTec_Trading",
        "role": "member"}], "notificationSetting": {"isMute": false}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: DELETE
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/247f39758f5844f3d918911ef9d2486d0b828ac4-881/members/me
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
