interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/VaultTec_Trading/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "VaultTec_Trading", "accountId": "8520698476712646544"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/isFakeAccount/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "isFakeAccount", "accountId": "2066273503397112667"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"invitees": [{"accountId": "8520698476712646544"}, {"accountId": "2066273503397112667"}]}'
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: POST
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups
  response:
    body:
      string: '{"groupId": "b4f51b7a0e92030dd4a1943dd0c86f13398c2b5f-246", "mainThread":
        {"threadId": "b4f51b7a0e92030dd4a1943dd0c86f13398c2b5f-246"}, "hasAllAccountInvited":
        false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"groupName": {"value": "Testing API"}}'
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: PATCH
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/groups/b4f51b7a0e92030dd4a1943dd0c86f13398c2b5f-246
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
