interactions:
- request:
    body: grant_type=refresh_token&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183997}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 83c5246a-2d5f-4e70-903f-f9b440423e4f
      X-Psn-Correlation-Id:
      - 83c5246a-2d5f-4e70-903f-f9b440423e4f
      X-Psn-Request-Id:
      - cafc26ec6a64997dacb1547d08ace831
      X-RequestId:
      - cafc26ec6a64997dacb1547d08ace831
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dms.api.playstation.com/api/v1/devices/accounts/me
  response:
    body:
      string: '{"accountId": "2721516955383551246"}'
    headers:
      Content-Type:
      - application/json
      X-CorrelationId:
      - c0ef8762-eeb7-4fec-a71d-6077acb6ef61
      X-Psn-Correlation-Id:
      - c0ef8762-eeb7-4fec-a71d-6077acb6ef61
      X-Psn-Request-Id:
      - c0ef8762-eeb7-4fec-a71d-6077acb6ef61
      X-RequestId:
      - c0ef8762-eeb7-4fec-a71d-6077acb6ef61
    status:
      code: 200
      message: OK
version: 1
