interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/kerksten/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "kerksten", "accountId": "6074310610488045645"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/6074310610488045645/basicPresences?type=primary
  response:
    body:
      string: '{"basicPresence": {"availability": "unavailable", "lastAvailableDate":
        "2024-02-19T01:15:19.445Z", "primaryPlatformInfo": {"onlineStatus": "offline",
        "platform": "PS5", "lastOnlineDate": "2024-02-19T01:15:19.445Z"}}}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0453887241818800365
    status:
      code: 200
      message: OK
version: 1
