interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=ac8d161a-d966-4728-b0ea-ffec22f69edc&scope=psn%3Aclientapp+psn%3Amobile.v1&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v3.jJXs7m&cid=646c51c2-fa35-4b2c-a925-151daebe4a31
      X-CorrelationId:
      - 646c51c2-fa35-4b2c-a925-151daebe4a31
      X-Psn-Correlation-Id:
      - 646c51c2-fa35-4b2c-a925-151daebe4a31
      X-Psn-Request-Id:
      - 89afef9e0fc323f50d52da747ea8465a
      X-RequestId:
      - 89afef9e0fc323f50d52da747ea8465a
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - 83a2f01d-15eb-474b-8854-4b7f4e2dc0ec
      X-Psn-Correlation-Id:
      - 83a2f01d-15eb-474b-8854-4b7f4e2dc0ec
      X-Psn-Request-Id:
      - 904cd8bab93256fdc10858b512ab3fd7
      X-RequestId:
      - 904cd8bab93256fdc10858b512ab3fd7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://dms.api.playstation.com/api/v1/devices/accounts/me
  response:
    body:
      string: '{"accountId": "2721516955383551246"}'
    headers:
      Content-Type:
      - application/json
      X-CorrelationId:
      - c9a25a99-3936-41f1-bf87-2bd6377a9365
      X-Psn-Correlation-Id:
      - c9a25a99-3936-41f1-bf87-2bd6377a9365
      X-Psn-Request-Id:
      - c9a25a99-3936-41f1-bf87-2bd6377a9365
      X-RequestId:
      - c9a25a99-3936-41f1-bf87-2bd6377a9365
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/2721516955383551246/profiles
  response:
    body:
      string: '{"onlineId": "VaultTec-Co", "personalDetail": {"firstName": "VaultTec",
        "lastName": "BlacklistBot", "profilePictures": [{"size": "s", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=50&h=50&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F2721516955383551246%2F1616355099647.png&sign=7e3003da6a783ce92219a4e7e3d1dba5f4e4fb51"},
        {"size": "m", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=160&h=160&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F2721516955383551246%2F1616355099647.png&sign=7e3003da6a783ce92219a4e7e3d1dba5f4e4fb51"},
        {"size": "l", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=240&h=240&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F2721516955383551246%2F1616355099647.png&sign=7e3003da6a783ce92219a4e7e3d1dba5f4e4fb51"},
        {"size": "xl", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=440&h=440&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F2721516955383551246%2F1616355099647.png&sign=7e3003da6a783ce92219a4e7e3d1dba5f4e4fb51"}]},
        "aboutMe": "r/Fallout76Marketplace Moderator", "avatars": [{"size": "s", "url":
        "http://static-resource.np.community.playstation.net/avatar_s/default/DefaultAvatar_s.png"},
        {"size": "xl", "url": "http://static-resource.np.community.playstation.net/avatar_xl/default/Defaultavatar_xl.png"},
        {"size": "l", "url": "http://static-resource.np.community.playstation.net/avatar/default/DefaultAvatar.png"},
        {"size": "m", "url": "http://static-resource.np.community.playstation.net/avatar_m/default/DefaultAvatar_m.png"}],
        "languages": ["en-US"], "isPlus": false, "isOfficiallyVerified": false, "isMe":
        true}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0954133001065941560
    status:
      code: 200
      message: OK
version: 1
