interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=ac8d161a-d966-4728-b0ea-ffec22f69edc&scope=psn%3Aclientapp+psn%3Amobile.v1&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&response_type=code
  response:
    body:
      string: ''
    headers:
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v3.Efh5Lt&cid=dcf45e49-6534-4e00-b675-22d0e442f68d
      X-CorrelationId:
      - dcf45e49-6534-4e00-b675-22d0e442f68d
      X-Psn-Correlation-Id:
      - dcf45e49-6534-4e00-b675-22d0e442f68d
      X-Psn-Request-Id:
      - ef52ea16d71d1bf0e4071812b5de2726
      X-RequestId:
      - ef52ea16d71d1bf0e4071812b5de2726
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Aclientapp+psn%3Amobile.v1&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "bearer", "expires_in":
        3599, "scope": "psn:mobile.v1 psn:clientapp", "id_token": "REDACTED", "refresh_token":
        "REDACTED", "refresh_token_expires_in": 5183999}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-CorrelationId:
      - db224b71-641e-4bd2-9fc6-6160bcb06d9e
      X-Psn-Correlation-Id:
      - db224b71-641e-4bd2-9fc6-6160bcb06d9e
      X-Psn-Request-Id:
      - 870ab30972ab06ffdd8fcada6c67519d
      X-RequestId:
      - 870ab30972ab06ffdd8fcada6c67519d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dms.api.playstation.com/api/v1/devices/accounts/me
  response:
    body:
      string: '{"accountId": "2721516955383551246"}'
    headers:
      Content-Type:
      - application/json
      X-CorrelationId:
      - 775381fd-1604-4513-a040-0216753621d0
      X-Psn-Correlation-Id:
      - 775381fd-1604-4513-a040-0216753621d0
      X-Psn-Request-Id:
      - 775381fd-1604-4513-a040-0216753621d0
      X-RequestId:
      - 775381fd-1604-4513-a040-0216753621d0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://m.np.playstation.net/api/userProfile/v1/internal/users/2721516955383551246/profiles
  response:
    body:
      string: '{"onlineId": "VaultTec-Co", "personalDetail": {"firstName": "VaultTec",
        "lastName": "BlacklistBot", "profilePictures": [{"size": "s", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=50&h=50&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F2721516955383551246%2F1616355099647.png&sign=7e3003da6a783ce92219a4e7e3d1dba5f4e4fb51"},
        {"size": "m", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=160&h=160&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F2721516955383551246%2F1616355099647.png&sign=7e3003da6a783ce92219a4e7e3d1dba5f4e4fb51"},
        {"size": "l", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=240&h=240&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F2721516955383551246%2F1616355099647.png&sign=7e3003da6a783ce92219a4e7e3d1dba5f4e4fb51"},
        {"size": "xl", "url": "https://image.api.np.km.playstation.net/images/?format=png&w=440&h=440&image=https%3A%2F%2Fkfscdn.api.np.km.playstation.net%2F2721516955383551246%2F1616355099647.png&sign=7e3003da6a783ce92219a4e7e3d1dba5f4e4fb51"}]},
        "aboutMe": "r/Fallout76Marketplace Moderator", "avatars": [{"size": "s", "url":
        "http://static-resource.np.community.playstation.net/avatar_s/default/DefaultAvatar_s.png"},
        {"size": "xl", "url": "http://static-resource.np.community.playstation.net/avatar_xl/default/Defaultavatar_xl.png"},
        {"size": "l", "url": "http://static-resource.np.community.playstation.net/avatar/default/DefaultAvatar.png"},
        {"size": "m", "url": "http://static-resource.np.community.playstation.net/avatar_m/default/DefaultAvatar_m.png"}],
        "languages": ["en-US"], "isPlus": false, "isOfficiallyVerified": false, "isMe":
        true}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0082742835312630184
    status:
      code: 200
      message: OK
version: 1
