interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups?includeFields=members&limit=10&offset=0
  response:
    body:
      string: '{"groups": [{"groupId": "~1CACE0CDC2C96B5B.25C4C5406FD6D50E", "groupType":
        0, "members": [{"accountId": "2721516955383551246", "onlineId": "VaultTec-Co"},
        {"accountId": "2066273503397112667", "onlineId": "isFakeAccount"}]}, {"groupId":
        "~25C4C5406FD6D50E.763F9A1EB6AB5790", "groupType": 0, "members": [{"accountId":
        "2721516955383551246", "onlineId": "VaultTec-Co"}, {"accountId": "8520698476712646544",
        "onlineId": "VaultTec_Trading"}]}, {"groupId": "18751a7d029fd0ab51664bbdd9ac700a6ce92698-637",
        "groupType": 1, "members": [{"accountId": "2721516955383551246", "onlineId":
        "VaultTec-Co"}[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/~1CACE0CDC2C96B5B.25C4C5406FD6D50E?includeFields=groupName%2CgroupIcon%2Cmembers%2CmainThread%2CjoinedTimestamp%2CmodifiedTimestamp%2CisFavorite%2CexistsNewArrival%2CpartySessions%2CnotificationSetting
  response:
    body:
      string: '{"groupId": "~1CACE0CDC2C96B5B.25C4C5406FD6D50E", "groupType": 0, "modifiedTimestamp":
        "1715418321046", "groupName": {"value": "", "status": 0}, "groupIcon": {"status":
        0}, "joinedTimestamp": "1715400190000", "isFavorite": false, "existsNewArrival":
        false, "mainThread": {"threadId": "~1CACE0CDC2C96B5B.25C4C5406FD6D50E", "modifiedTimestamp":
        "1715418321046", "latestMessage": {"messageUid": "1#439147090187857", "messageType":
        1, "alternativeMessageType": 1, "body": "12", "createdTimestamp": "1715418321046",
        "sender": {"accountId": "2721516955383551246", "onlineId": "VaultTec-Co"}},
        "readMessageUid": "1#439147090187857"}, "members": [{"accountId": "2721516955383551246",
        "onlineId": "VaultTec-Co"}, {"accountId": "2066273503397112667", "onlineId":
        "isFakeAccount"}], "notificationSetting": {"isMute": false}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/gamingLoungeGroups/v1/members/me/groups/18751a7d029fd0ab51664bbdd9ac700a6ce92698-637?includeFields=groupName%2CgroupIcon%2Cmembers%2CmainThread%2CjoinedTimestamp%2CmodifiedTimestamp%2CisFavorite%2CexistsNewArrival%2CpartySessions%2CnotificationSetting
  response:
    body:
      string: '{"groupId": "18751a7d029fd0ab51664bbdd9ac700a6ce92698-637", "groupType":
        1, "modifiedTimestamp": "1705862898024", "groupName": {"value": "", "status":
        0}, "groupIcon": {"status": 0}, "joinedTimestamp": "1694235950000", "isFavorite":
        false, "existsNewArrival": false, "mainThread": {"threadId": "18751a7d029fd0ab51664bbdd9ac700a6ce92698-637",
        "modifiedTimestamp": "1705862898024", "latestMessage": {"messageUid": "1#436700901894266",
        "messageType": 2002, "alternativeMessageType": 2001, "body": "gabrieljemail
        left.", "createdTimestamp": "1705862898024", "sender": {"accountId": "6425480782196553899",
        "onlineId": "gabrieljemail"}}, "readMessageUid": "1#436700901894266"}, "members":
        [{"accountId": "2721516955383551246", "onlineId": "VaultTec-Co", "role": "owner"},
        {"accountId": "8859462586603699392", "onlineId": "test", "role": "member"}],
        "notificationSetting": {"isMute": false}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
