interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://us-prof.np.community.playstation.net/userProfile/v1/users/DaUglyDucklin/profile2?fields=accountId%2ConlineId%2CcurrentOnlineId
  response:
    body:
      string: '{"profile": {"onlineId": "DaUglyDucklin", "accountId": "4273405838384737823"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Country:
      - US
    method: GET
    uri: https://m.np.playstation.com/api/userProfile/v1/internal/users/4273405838384737823/basicPresences?type=primary
  response:
    body:
      string: '{"basicPresence": {"availability": "unavailable", "lastAvailableDate":
        "2024-05-24T02:51:54.450Z", "primaryPlatformInfo": {"onlineStatus": "offline",
        "platform": "ps4", "lastOnlineDate": "2024-05-24T02:51:54.450Z"}}}'
    headers:
      Content-Type:
      - application/json
      X-Psn-Track-Id:
      - 0383077886371283831
    status:
      code: 200
      message: OK
version: 1
