name: code coverage
on:
  push:
    branches:
      - master
  pull_request_target:
    branches:
      - master

permissions:
  contents: write
  checks: write
  pull-requests: write

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    environment: trusted-ci
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          ref: ${{ github.event.pull_request.head.ref || github.ref }}

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Poetry
        run: pipx install poetry

      - name: Install dependencies and build package
        run: |
          poetry install --with tests

      - name: Build coverage file
        run: |
          poetry run pytest --cov-config=pyproject.toml | tee pytest-coverage.txt
          sed -i -e ':a' -e 'N' -e '$!ba' -e 's/\(\n\)\{1,\}\n\(Name\)/\n\2/g' pytest-coverage.txt
        env:
          NPSSO_CODE: ${{ secrets.NPSSO_CODE }}
          USER_NAME: ${{ vars.USER_NAME }}
          FRIEND_USER_NAME: ${{ vars.FRIEND_USER_NAME }}
          BLOCKED_USER_NAME: ${{ vars.BLOCKED_USER_NAME }}

      - name: PyTest Coverage comment
        id: coverageComment
        uses: MishaKav/pytest-coverage-comment@main
        with:
          hide-comment: true
          badge-title: Coverage
          pytest-coverage-path: pytest-coverage.txt
          junitxml-path: pytest.xml
          default-branch: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.ref || github.ref_name }}

      - name: Update Readme with Coverage Html
        run: |
          sed -i '/<!-- Pytest Coverage Comment:Begin -->/,/<!-- Pytest Coverage Comment:End -->/c\<!-- Pytest Coverage Comment:Begin -->\n\${{ steps.coverageComment.outputs.coverageHtml }}\n<!-- Pytest Coverage Comment:End -->' ./README.md

      - name: Check if PR is from a fork
        id: fork-check
        run: |
          echo "is_fork=${{ github.event.pull_request.head.repo.full_name != github.repository }}" >> $GITHUB_OUTPUT

      - name: Commit & Push changes to Readme
        if: steps.fork-check.outputs.is_fork == 'false'
        uses: actions-js/push@master
        with:
          branch: ${{ github.event.pull_request.head.ref }}
          message: Update coverage on Readme
          rebase: true
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
